DRP/settings.py
DRP/data_config.py
DRP/tmp/
DRP/research/casey/results/CSVs/*
DRP/tmp/*
DRP/models/*
DRP/models/

tmp/*
models/*
metrics/*

*.pyc
.sql
*.sw*
*.log
*.cxl
*~

#For OS X users
.DS_Store

#For Emacs
*~
\#*\#
.\#*
