.vagrant
DRP/settings.py
DRP/data_config.py
DRP/tmp/
DRP/research/casey/results/CSVs/*
DRP/migrations
tmp/*
models/*
metrics/*

*.csv
*.model
*.txt
*.pyc
*.sql
*.sw*
*.log
*.cxl
*~

#For OS X users
.DS_Store

#For Emacs
*~
\#*\#
.\#*


Database_Reactions*csv


.idea/
*.ipynb_checkpoints