p.github {
 text-align:center;
 display: none;
}

h1.bannerText {
 text-align:center;
}

.contributor {
  padding:1em 2em;
  margin: 0 auto;
  text-align:center;
}

figcaption.soloInfo p {
 margin: .3em 0;
}

.groupName, .groupName a {
  box-sizing:border-box;
  color:black;
  font-weight:bold;
  text-align:center;
}

.contributorGroup {
 width:30em;
 margin:0 auto 2em auto;
}

.contributorGroup:first-child {
 margin:0 auto 2em auto;
 width: 70%;
 max-width: 30em;
}

.row2 {
 width:70%;
 margin: auto;
}

.row2 figure {
 float: left;
}

figure.contributorGroup.richard {
 width: 25%;
 max-width: 10em;
 float: right;
 margin-top:4em;
}

.groupPicture {
  width:100%;
  border-radius:5px;
}

.contributor a:hover {
  opacity:0.8;
}
.contributor a {
 font-size:inherit;
 color:inherit;
 text-decoration:none;
 font-weight:700;
} .contributor a:hover {
 opacity:.7;
}

.groupInfo {
  font-size:0.9em;
  width: 80%;
  margin: auto;
  text-align: center;
}

.soloPicture {
  box-sizing:border-box;
  height:7em;
  display:inline-block;
  vertical-align:middle;
  border-radius:5px;
}

.soloInfo {
  box-sizing:border-box;
  width:18em;
  padding:0em 1em;
  display:inline-block;
  font-size:1.1em;
  text-align:left;
  vertical-align:middle;
}

#contributorContainer {
  text-align:center;
  clear: both;
}

.contributorLogo {
  height:3em;
  vertical-align:middle;
  margin:1em 2em;
}
