img { 
 max-width: 100%;
 max-height: 100%; 
}

a {
 color: black;
}

.grow {
 display: inline-block;
 width: 100%; 
 height: 100%; 
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: transform;
 transition-property: transform;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.back__ground {
 background-color: #F1F8FF;
}


.infoContainer {
 background-color: #F1F8FF;
}


#people {
 min-width: 600px;
 padding-top: 50px; 
}

.column {
 background-color: white; 
 width: 32.3%;
 display: inline-block; 
 padding: 1em 0px; 
 overflow: visible; 
 position: relative; 
 vertical-align: top;
 box-sixing: border-box;
 border-radius: 3px;  
} 

.colHead {
 font-size: 18px;
 color: white; 
 background-color: #45759b;
 position: absolute; 
 top: 0px;  
 margin-bottom: 10%; 
 width: 100%;
 height: 10%; 
 box-sizing: border-box;
 border-radius: 1px;
 display: inline-block;  
} 

.Professors {
 width: 100%;
 height: 30%; 
 box-sizing: border-box;
 position: relative; 
 display: inline-block;  
 padding-top: 3%; 
}

.profPics {
 box-sizing: border-box; 
 width: 30%;
 height: 75%; 
 display: inline-block;
 position: absolute;  
 left: 0px;    
}

.profPics img {
 position: absolute;
 height: 100%;  
 left: 0px;
}

.profLinks {
 width: 70%;
 height: 20%; 
 box-sizing: border-box; 
 display: inline-block;  
 position: absolute;
 right: 0px; 
}

.profLinks h1 {
 width: 100%;
 position: relative;  
 text-align: left; 
 font-size: 18px; 
 left: 5%;  
}


.profLinks:hover .tooltip { 
 display: inline;
}

.profLinks:hover .Name {
 display: none;
}

.profBio {
 position: absolute;
 display: inline-block;
 width: 70%;
 height: 55%; 
 right: 0px;  
 top: 20%;  
} 

.profBio p {
 display: inline-block;
 position: absolute;
 left: 5%; 
 font-size: 16px; 
 text-align: left; 
}

.profBio hr {
 width: 94%;
 margin-top: -5px;
 margin-left: 20px; 
 position: absolute;  
	}

<!--Logo panel styling--> 

#logos { 
position: relative;   
width: 100%;
min-width: 1000px;        
text-align: center;   
}


#logos img { 
 width: 10%; 
 margin: 2em 10em; 
 box-sizing: border-box;
 vertical-align: middle;  
}

#logos #NSF {
 width: 5%; 
 min-width: 40px;   
}


