.contributor {
  padding:1em 2em;
  margin: 0 auto;
  text-align:center;
}

.groupName, .groupName a {
  box-sizing:border-box;
  color:black;
  font-size:1.2em;
  font-weight:bold;
}

.groupPicture {
  width:25em;
  border-radius:5px;
}

.contributor a:hover {
  opacity:0.8;
}
.contributor a {
 font-size:inherit;
 color:inherit;
}

.groupInfo {
  font-size:0.9em;
}

.soloPicture {
  box-sizing:border-box;
  height:7em;
  display:inline-block;
  vertical-align:middle;
  border-radius:5px;
}

.soloInfo {
  box-sizing:border-box;
  width:18em;
  padding:0em 1em;
  display:inline-block;
  font-size:1.1em;
  text-align:left;
  vertical-align:middle;
}

#contributorContainer {
  text-align:center;
}

.contributorLogo {
  height:3em;
  vertical-align:middle;
  margin:1em 2em;
}
