#topPanel{
 display:block;
 position:relative;
 background-color:#355A77;
}

#centerPanel {
 position:relative;
 width:100%;
}

#mainPanel {
 display:inline-block;
 position:relative;
 width:100%;
 float:left;
 overflow:hidden;
}

#sidePanel {
 position:relative;
 text-align:center;

 display:none;
 overflow:hidden;

 background-color:#355A77;
 color:white;
}

.infoContainer {
 position:relative;
 overflow:auto;
}

#popupContainer {
  position:relative;
  top:4em;
  text-align:center;
  z-index:101;

  background-color:#355A77;
  overflow:hidden;
  color:white;
}


#copyrightContainer {
 position:absolute;
 font-size:0.8em;
 right:1em;
 top:0.2em;
}

#pageContainer {
 position:relative;
 text-align:center;
 background-color:#355A77;
 color:white;
}


#dataContainer, #recContainer {
 position:relative;
}


