/* grid/general page layout */
.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50% 50%;
	padding: 30px

}
.grid-container h2, .grid-container h4 {
	margin: 0px;
}


/* bar/all graphs */
svg {
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
}

path.domain {
	stroke: none;
}

.y .tick line {
	stroke: #ddd;
}


/* line graph */
path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

body {
	background-color: #d1d1d1; 
}