/* ###############   BUTTONS   ###################################### */
.dbMenuButton {
	height:40px;
	width:40px;
	
	background-repeat:no-repeat;
	background-position:center;
	background-size:80%;
	margin:15px;
	padding:5px;
	
	background-color:white;
	border-radius:15px;
	border: 3px solid black;
}

.genericButton:hover {
	background-color:#FFD92E;
	cursor:pointer;
}

.closeButton {
	background-color:white;
	font-size:12px;
	font-weight:bold;
	
	width:15px;
	height:15px;
	border:2px solid black;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	padding:2px;
	
	position:absolute;
	top:10px;
	right:10px;
}

/* ###############   PANELS   ################################### */
#leftPanel {
	height:100%;
	width:100px;
	
	position:fixed;
	margin-top:15px;
	left:0px;
}

#rightPanel {
	margin-left:130px;
	height:100%;
}

#topPanel {
	height:100px;
	position:relative; /* Required for children to position. */
	border-bottom:2px solid black;
	min-width:500px;
}

#centerPanel {
	height:80%;
	min-height:510px;
	min-width:600px;
	position:relative;
	border-bottom:2px solid black;
}

#bottomPanel {

}

/* ###############   UNIVERSAL   ################################### */
a {
	text-decoration:none;
	cursor:pointer;
}

a:hover {
	font-style:oblique;
	background-color:#FFD92E;
	border-radius:25px;
}

body {
	font-family:helvetica;
	min-width:600px;
	overflow:hidden;
}

input[type=text] {
	border:2px solid black;
	border-radius:5px;
	padding:2px;
	padding-left:5px;
}

input[type=button] {
	border:2px solid black;
	font-weight:bold;
	border-top-right-radius:10px;
}

input[type=submit] {
	border:2px solid black;
	font-weight:bold;
	border-top-right-radius:10px;
}

select {
	border:2px solid black;
	font-weight:bold;
	border-top-right-radius:10px;
}

input:hover {
	background-color:#FFF1B5;
}

input:focus {
	background-color:#FFD92E;
}

/* ###############   CONTAINERS   ################################### */
.genericContainer {
	background-color:#A1C5E2;
	border-radius:15px;
	border: 2px solid black;
}

.genericContainer_inner {
	background-color:white;
	border-radius:10px;
	padding:10px;
}

#dbMenuContainer {
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

#dataContainer {
	top:10px;
	bottom:10px;
	width:100%;
	position:absolute;
	padding-bottom:70px;
	
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}

#dataContainer_inner {
	position:relative;
	margin:10px;
	margin-right:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	height:100%;
	overflow:auto;
}

#pagesContainer {
	position:absolute;
	width:100%;
	height:50px;
	bottom:0px;
	background-color:#5087B3;
	padding-top:5px;
	border-top:2px black solid;
	border-radius:inherit;
	border-top-left-radius:0px;
	text-align:center;
}

#copyrightContainer {
	font-size:12px;
	font-style:oblique;
	padding:5px;
	text-align:center;
}
/* ################### POPUP STYLES ################################# */
#popupGlobal {
	display:none;
	position:absolute;
	z-index:101;
	width:100%;
}

#popupContainer {
	position:relative;	
	height:auto;
	width:auto;
	z-index:101;
}

#popupContainer_inner {
	background-color:#355A77;
	margin:10px;
	border-top: 2px black solid;
	border-left: 2px black solid;
	border-radius:25px;
	padding:15px;
}

#mask {
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:black;
	opacity:0.3;
	z-index:100;
}
		/* ############### SPECIFIC POPUPS ########################## */
#popupContainer[for="dbMenu_addNew"] {
	text-align:center;
	top:50px;
	left:10%;
	width:80%;
	min-width:570px;
}

.subPopup { /* Right now, just used for errors. */
	position:absolute;
	background-color: #FFD6D6;
	border:4px solid #B20200;
	border-radius:15px;
	width:550px;
	z-index:103;
	padding-bottom:5px;
}

.subPopup > h1 {
	margin:5px;
	text-align:left;
	padding-left:20px;
	font-style:oblique;
}

/* ###############   SUBGROUPS   #################################### */
#topPanel div {
	display:inline-block;
	padding:10px;
}

.pagesInfo {
	font-weight:bold;
	display:inline-block;
	font-size:14px;
	color:white;
}

/* ###############   TEXT   ######################################### */
.navLink {
	font-size:24px;
	font-weight:bold;
	color:black;
	margin:10px;
}

.pageLink {
	background-color:#3B5D77;
	padding-left:3px;
	padding-right:3px;
	border-radius:15px;
}

.pageLink:hover {
	color:#3B5D77;
	padding-left:3px;
	padding-right:3px;
}

#pageLinkCurrent {
	border:2px solid #304B60;
}

/* ###############   SPECIFIC ELEMENTS   ############################ */
#siteLogo {
	height:80px;
	width:200px;
	margin-left:-30px;
	background-repeat:no-repeat;
	background-size:contain;
}

#navMenu {
	position:absolute;
	bottom:0px;
	left:200px;
}

#userInfo {
	z-index:5;
	background-color:#A1C5E2;
	border-bottom-left-radius:15px;
	border: 2px solid black;
	position:absolute;
	right:0px;
	top:0px;
	
	text-align:center;
	padding:5px;
	min-width:100px;
}

#userInfo_inner {
	font-size:14px;
	padding:8px;
	margin-left:15px;
	background-color:white;
	border-radius:5px;
	border-bottom-left-radius:15px;
}

/* ###############   DATA STYLE   ################################### */
.dataGroup {
	margin-top:8px;
	margin-bottom:15px;
	position:relative;
	border-left:2px solid black;
	border-top:2px solid black;
	width:95%;
}

.dataGroup:hover {
	background-color:#F1FF8C;
	cursor:pointer;
}

.dataSelected {
	background-color:#FFE944;
}

.dataSelected .dataIndex:after {
	content: "\2713 "
}

.dataIndex {
	font-size:12px;
	font-style:oblique;
	font-weight:bold;
	position:absolute;
	right:-7px;
	top:-8px;
	
	border-radius:15px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border:2px black solid;
	background-color:yellow;
	padding-left:15px;
	padding-right:8px;
	
}

.dataField {
	font-style:oblique;
	display: inline-block;
	padding:2px;
	border-radius:5px;
	font-size:15px;
}

.dataField:after {
	font-style:oblique;
	font-weight:bold;
}
.dataField:before {
	font-style:oblique;
	font-weight:bold;
	font-size:14px;
}

		/* ############### :AFTER STYLE ############################# */
.type_temp:after { content: "\2103"; }
.type_time:after { content: " Hours"; }
.type_unit:after { content: ")"; }
.type_notes:empty:after { content:"(None)"; }

		/* ############### :BEFORE STYLE ############################# */
.type_reactant:not(:first-child):before { content: "+ "; }
.type_quantity:before { content: "("; }
.type_slow_cool:before { content: "Slow Cooled: "; }
.type_leak:before { content: "Leak: "; }
.type_pH:before { content: "pH: "; }
.type_purity:before { content: "Purity: "; }
.type_outcome:before { content: "Outcome: "; }
.type_notes:before { content: "Notes: "; }
.type_ref:before { content: "Reference: "; }
.type_user:before { 
	content:"Last Modified by "; 
	font-style:oblique;
	font-weight:bold;
}

		/* ################ .TYPE STYLE ############################# */
.type_reactant { 
	font-weight:bold;
	font-style:none; 
}

.type_user {
	font-size:14px;
	opacity:0.5;
	position:absolute;
	right:0px;
}

/* #################### FORM STYLE ################################# */
.field_wrapper {
	padding:5px;
	background-color:#75ADE6;
	border: 2px black solid;
	border-radius:10px;
	margin:5px;
	display: inline-block;
	text-align:left;
	min-width:100px;
}

.reaction_wrapper {
	background:rgba(64, 64, 64, 0.3);
	font-style:oblique;
	display:inline-block;
	border-radius:15px;
}

.form_text_short {
	width:65px;
}
.form_text_long {
	width:250px;
}


		/* #################### ERROR STYLE ######################### */
.error {
	display:inline-block;
	background-color: #F7605B;
	border: 2px solid #B35350;
	margin:2px;
	padding:5px;
	border-radius:15px;
	border-top-right-radius:0px;
}

.error_label {
	text-align:left;
	font-weight:bold;
	font-style:oblique;
	cursor:pointer;
}
.error_label:hover {
	color:#FFE949;
}

.error_message {
	display:inline-block;
	font-style:oblique;
}
.popup_button:hover{
	background-color:#FFD92E;
	cursor:pointer;
}

/*
#popup_toggle {
	right:30px;
}

h1 {
	font-family:arial;
	font-size:32px;
	text-align:center;
	
	background-color:#FFE05B;
	border: 5px #454545 solid;
	border-style:outset;
	border-radius:20px;
	
	padding:10px;
	margin:15px;
	margin-bottom:-20px;
	width:200px;
	height:45px;
}
p {
	font-family:arial;
	font-size:20px;
	text-align:center;
	margin:0px;
	
}


.data_group {	
	background-color:#A9EFEF;
	border:2px black solid;
	border-radius:10px;
	margin:10px;
	max-height:200px;
	padding-left:40px;
}

.data_group:hover {	
	background-color:#FFEA8F;
}
*/

/*
.data_index {
	background-color:#A9CCEF;
	padding:5px;
	font-size:20px;
	border-right:2px black solid;
	border-bottom:2px black solid;
	border-top-left-radius:8px; /*Make sure this looks nice ###*/
*/
/*
	border-bottom-right-radius:10px;
	display:inline-block;
	position:relative;
	left:-40px;
}
*/

/*
.data {
	font-size:16px;
	display:inline;
	word-wrap:break-word;
}

#emptyDataMessage {
	margin:5px;
	text-align:center;
	color:white;
	font-weight:bold;
} 

#editInPlace { /*### Perhaps use the autogrow jQuery plugin */
/*
	background-color:white;

	border-radius:15px;
	border: 2px black solid ;
	outline:0px;
	padding-right:5px;
	padding-left:5px;
}

#enterButton {
	background-color:black;
	border-radius:15px;
	border: 2px black red ;
	color:white;
	font-size:10px;
	font-style:oblique;
	display:inline-block;
	opacity:0.5;
	padding:5px;
	text-align:center;
}
#enterButton:hover {
	opacity:1;
	cursor:pointer;
}
*/

/*
#pageLink_container {
	text-align:center;
	font-size: 18px;
	font-weight:bold;
}

#pageLink_container {
	color:black;
	text-decoration:none;
}
.pageLink {
	color:white;
}
.pageLink:hover {
	color:#FFE05B;
	font-style:oblique;
	cursor:pointer;
}

.pageLinkCurrent {
	font-size:20px;
	font-style:oblique;
	padding:5px;
}

#current_page {
	display:inline-block;
}

#total_pages {
	display:inline-block;

}

#page_change_text {
	background-color:#EFEFA9;
	display:inline-block;
	margin-left:10px;
	padding:5px;
	border: 2px black solid;
	border-radius:5px;
	width:60px;
}

#page_change_button {
	background-color:#EFEFA9;
	border: 2px #454545 solid;
	border-style:outset;
	border-radius:20px;
	margin:5px;
	font-family:arial;
	font-style:oblique;
}
*/

/*
#loadingScreen {
	position:fixed;
	left:40%;
	right:40%;
	top:40%;
	background-color:white;
	display:none;
	
	border:4px black solid;
	border-radius:15px;
	padding:10px;
	
	font-weight:bold;
	font-size:20px;
}

#successScreen {
	position:fixed;
	left:40%;
	right:40%;
	top:40%;
	background-color:white;
	display:none;
	
	border:4px black solid;
	border-radius:15px;
	padding:10px;
	
	font-weight:bold;
	font-size:20px;
}

#CSVForm {
	background-color:#75ADE6;
	border:2px black solid;
	border-radius:10px;
	font-family:arial;
	text-align:center;
}
*/

/*
#uploadCSVChoose_hidden {/*###Make pretty*/
/*
	opacity:0;
	width:inherit;
	height:inherit;
	
	position:absolute;
	left:63px;
	top:37px;
}
*/

/*
#uploadCSVChoose_display {/*###Make pretty*/
*/
/*
	width:180px;
	height:25px;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
	background-color:#EFEFA9;
	border:2px black solid;
	border-radius:5px;
}

#uploadCSVChoose_display:hover {
	background-color: #FFE05B;
}

#uploadCSVWords {
	font-size:12px;
	font-weight:thin;
	line-height:26px;
	color:black;
	z-index:10;
}

#uploadCSVScreen {
	position:fixed;
	left:30%;
	top:40%;
	width:300px;
	background-color:#418FDC;
	display:none;
	
	border: 5px #454545 outset;
	border-radius:15px;
	padding:10px;
	
	font-weight:bold;
	font-size:16px;
	color:white;
}

#invalidDataScreen {
	position:fixed;
	left:40%;
	right:40%;
	top:40%;
	background-color:#FF7070;
	display:none;
	
	border:4px black solid;
	border-radius:15px;
	padding:10px;
	
	font-weight:bold;
	font-size:20px;
}

.selected {	
	background-color:#FFE05B;
}
.selected:after {	
	content:  "(\2713)";
}

.sub_data {
	display:inline-block;
	padding:5px;
	max-width:100%;
}

.sub_data:empty {
	opacity:0.3;
}

.sub_data:hover {
	cursor:pointer;
}
*/
*/

/* DATA FORMATTING */
/*
.type_temp:after {
	content: "\2103";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}

.type_time:after {
	content: " Hours";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}


.type_reactant {
	font-weight:bold;
}


.type_reactant:not(:first-child):before {
	content: "+ ";
}

.type_quantity {
	font-style:oblique;
}

.type_quantity:before {
	content: "(";
	font-weight:bold;
	font-style:oblique;
}

.type_unit: {
	font-weight:bold;
	font-style:oblique;
}
.type_unit:after {
	content: ")";
	font-weight:bold;
	font-style:oblique;
}

.type_slow_cool:before {
	content: "Slow Cooled: ";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}

.type_leak:before {
	content: "Leak: ";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}

.type_pH:before {
	content: "pH: ";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}

.type_purity:before {
	content: "Purity: ";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}
.type_outcome:before {
	content: "Outcome: ";
	font-weight:bold;
	font-style:oblique;
	font-size:14px;
}

.type_user:before {
	content:"Last Modified: ";
}

.type_user {
	font-style:oblique;
	font-size:14px;
	opacity:0.5;
	display:inline-block;
}

.type_notes {
	font-style:oblique;
	font-size:14px;
}

.type_notes:empty:after {
	content:"(None)";
}

.type_notes:before {
	font-weight:bold;
	content: "Notes: ";
}

.type_ref {
	font-style:oblique;
	font-size:14px;
}
.type_ref:before {
	content: "Reference: ";
	font-weight:bold;
	font-style:oblique;
}
*/


/* FORM STYLE */

/*
.form_checkbox { /*### */
}
/*
.form_checkbox:checked {
}
*/

/*
#dataEntryForm { /* The form container */
/*
	background-color:#418FDC;
*/
/*
	border:2px black solid;
	border-radius:10px;
	font-family:arial;
	text-align:center;
	padding:5px;
}
*/
*/

/*
.form_text {
	background-color:#EFEFA9;
	display:inline-block;
	padding:5px;
	border: 2px black solid;
	border-radius:5px;
}

.form_text:hover{
	background-color:#FFEA8F;
}

.form_text:focus {
	background-color:#FFE05B;
}

.form_text_long {
	width:450px;
}

.form_text_short {
	width:60px;
}

.form_drop_down {
	padding-left:0px;
	width:60px;
}
*/

/* Assorted Labels */
/*
form div label {
	font-weight:bold;
	font-size:16px;
	color:white;
}

td label {
	font-weight:bold;
	font-size:16px;
	color:white;
}

.error_label {
	color:black;
	font-weight:bold;
	display:inline-block;
}
.error_label:hover {
	text-decoration:underline;
}

.form_button {
	background-color:#EFEFA9;
	border: 2px #454545 solid;
	border-style:outset;
	border-radius:20px;
	margin:5px;
	font-family:arial;
	font-style:oblique;
}

.form_button:hover {
	background-color:#FFE05B;
}


}
*/
/* Should be last to overwrite other styles */
/*
.invalid_data {
	border-color:red;
	background-color:#F2BABA;
}
*/

/* USER CONTAINER STYLE */
/*
.popup_screen {
	background-color:#418FDC;
	display:none;
	
	border: 5px #454545 outset;
	border-radius:15px;
	padding:10px;
	
	font-weight:bold;
	font-size:16px;
	color:white;
	
	min-width:42px;
	min-height:10px;
}


#user_container {/*###Make pretty*/
/*
	width:180px;
	height:35px;
	margin:5px;
	padding:5px;
	background-color:#EFEFA9;
	border:2px black solid;
	border-radius:5px;
	position:absolute;
	right:0px;
}

#popupGlobal {
	background:rgba(64, 64, 64, 0.9);
	margin:10%;
	width:80%;
	min-width:300px;
	padding:30px;
	border-radius:5px;
	
	position:absolute;
	top:0px;
	display:none;
	
}

#userAuthScreen {
	opacity:1.0;
	max-width:800px;
	margin: 0 auto;
}

a {
	cursor:pointer;
	padding-left:5px;
	padding-right:5px;
}
a:hover {
	background-color:#FFE05B;
	border-radius:15px;
	font-style:oblique;
}
*/
/*
.reload_timer {
	display:none;
}
*/

