/* # # # # # # # # #   Buttons   # # # # # # # # # # # # # # # # #  */
.reactantRemoveButton {
 color:red;
}

.reactantAddButton {
 color:green;
}

.reactantButton {
 position: absolute;
 text-align:center;
 top:-11px;
 right:-6px;

 width:18px;
 height:18px;
 font-size:16px;

 z-index:100;
 padding:1px;
 border-radius:10px;
 opacity:0.4;
}

/* # # # # # # # # #   Specific Fields   # # # # # # # # # # # # # # # # #  */
#uploadCSV_display {
 position:relative;
 padding:5px;
 margin-bottom:10px;
 border:2px black solid;
 border-radius:5px;
 background-color:#EFEFA9;

 color:black;
 font-size:14px;
}

#uploadCSV_display:hover {
 background-color: #FFE05B;
}

#uploadCSV_hiddenInput {
 position:absolute;
 cursor:pointer;
 top:0px; /*Should be equal to container padding.*/
 left:0px;
 width:100%;
 height:100%;
 border-radius:inherit;
 opacity:0;
}

