#dataManipulationMenu {
 text-align:center;
 padding:5px;
}

.dataManipulationButton {
 display: inline-block;
 height:30px;
 width:30px;

 background-repeat:no-repeat;
 background-position:center;
 background-size:80%;
 padding:7px;

 background-color:white;
 border-radius:5px;

 margin:0em 0.5em;

 cursor:pointer;
}

.dataManipulationButton:hover {
 opacity:0.8;
}

@media (max-width:600px) {

}
