/* ###############   BUTTONS   ###################################### */

.CG_deleteButton {
 background-color:#FF857E;
 border:2px solid black;
 border-radius:15px;
 border-top-left-radius:0px;
 border-bottom-right-radius:0px;
 padding:2px;
 font-size:12px;
 font-weight:bold;
 opacity:0.5;
}

.CG_saveButton {
 background-color:#FF857E;
 font-size:14px;
 font-weight:bold;
 text-align:center;

 width:60px;
 border:2px solid black;
 border-bottom-left-radius:10px;
 padding:2px;

 position:absolute;
 top:10px;
 right:60px;
}

/* ###############   CG Guide   ############################ */
#CG_table{
 width:100%;
}

#CG_table td {
 padding-left:10px;
 text-align:center;
 padding:0px;
}

#headingRow {
 font-weight:bold;
 text-decoration:underline;
 text-align:center;
}

#CG_display .editable:hover {
 background-color:#FCFF77;
 border-radius:25px;
}

.CG_image_container {
 width:200px;
}

.CG_image_container:empty:after {
 opacity:0.5;
 font-size:12px;
 content:"Unknown!";
}

.CG_image {
 height:100px;
}

.CG_image:hover {
 height:180px;
 border: 2px solid black;
 border-radius:15px;
}

.type_CAS_ID {
 min-width:100px;
}
.type_CAS_ID:empty:after {
 opacity:0.5;
 font-size:12px;
 content:"Unknown!";
}

.type_abbrev {
 min-width:100px;
}

.type_compound {
 min-width:100px;
}

/* ###############   SPECIFIC ELEMENTS   ############################ */

#CG_display {
 position:relative;
 padding:16px;
 margin: 0 auto;
 margin-top:10px;
 margin-bottom:10px;
 min-height:20px;
 max-height:350px;
 border-radius:5px;

 overflow:auto;

 font-size:14px;
 color:black;
 background-color:white;
}

#uploadCSV_display {
 position:relative;
 padding:5px;
 margin-bottom:10px;
 border:2px black solid;
 border-radius:5px;
 background-color:#EFEFA9;

 color:black;
 font-size:14px;
}

#uploadCSV_display:hover {
 background-color: #FFE05B;
}

#uploadCSV_hiddenInput {
 position:absolute;
 cursor:pointer;
 top:0px; /*Should be equal to container padding.*/
 left:0px;
 width:100%;
 height:100%;
 border-radius:inherit;
 opacity:0;
}

.editText {
 padding-left:10px;
 padding-right:10px;
 background-color:#BFFF84;
 max-width:inherit;
 width:10px;
 display:inline-block;
}

/* #################### FORM STYLE ################################# */
.fieldWrapper {
 padding:5px;
 border: 2px black solid;
 border-radius:10px;
 margin:5px;
 display: inline-block;
 text-align:left;
 min-width:100px;

 background-color:#75ADE6;
 color:black;
}

.reactionWrapper {
 background:rgba(64, 64, 64, 0.3);
 display:inline-block;
 border-radius:15px;
}

.form_text_short {
 width:65px;
}
.form_text_long {
 width:250px;
}

.badData {
 background-color:red;
}
.badData:focus {
 background-color:#F7605B;
}


