.error {
 display:inline-block;
 background-color: #F7605B;
 padding:1em;
 margin:5px;
}

.error_label {
 display:inline-block;
 background-color: #E65140;
 padding:5px;
 font-weight:bold;
 opacity:0.8;
}

.error_message {
 display:inline-block;
}


