
/* SHADOW/GLOW TRANSITIONS */
/* Glow */


.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.glow:hover, .glow:focus, .glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.tooltip {
 fill: black;
 stroke: black;
 stroke-width: 0.3;
 pointer-events: none;
}

div.clusterTooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  fill: blue; 
  opacity: 0.1;
  stroke: black;
  stroke-width: 0.3; 
  pointer-events: none; 
}

.seedButtonRect {
 -webkit-box-shadow: 10px 10px 5px;
 box-shadow: 10px 10px 5px;
 fill: white;
}

.seedRecText {
 fill: #2E6809;
 stroke: #0066CC;
 stroke-width: 0.3;
 pointer-events: none;
}

.extraRect {
 pointer-events: none;
}

.seedImage {
 -webkit-filter: huerotate(180deg);
 pointer-events: none;
}

#loadingMessage {
 padding 30px auto;
 width: 100%;
 text-align-center;
 font-size: 24px;
}

.tooltipBackground {
 stroke-width: 1px;
 fill: #CCE6FF;
 opacity:0.5;
 text-anchor: left;
}

#wrapper {
}

#graphWrapper {
position: relative;
float: left;
overflow: hidden;
display: inline-block;
width: 97%;
height:99%;
}

#graph {
}

#slider {
position: relative;
float: right;
top: 0;
right: 0;
margin-top: 5px;
margin-right: 5px;
width: 2%;
min-height: 300px;
height: 85%;
display: inline-block;
background: #e8f4ff;
border-radius: 2px;
}

.handle {
  width: 100%;
  height: 50px;
  background:#2c7fb8;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  border-radius: 1px;
  position: absolute;
  line-height: 50px;
  cursor:default;
  opacity:0.8;
}
.handle:hover {
  opacity:1;
}

