.infoFormContainer {
  margin: 0 auto;
  text-align:center;
}

.downloadForm,
.uploadForm,
.infoForm {
  margin: 0 auto;
  padding:1em;
  text-align:center;
  max-width:50em;
}

.infoForm textarea {
  height:5em;
  vertical-align:middle;
  resize:vertical;
}

.infoForm label {
  display:block;
  vertical-align:middle;

  padding: 0.5em 0em;
}

.infoForm label input, .infoForm label textarea, .infoForm label select {
  margin-left:2em;
}

.infoForm input, .infoForm textarea, .infoForm select {
  border:none;
  background-color:#dfb183;
  padding:1em;
  outline: 2px solid rgb(205,144,113);
}

.infoForm input.submit {
  background-color:rgb(205,144,113);
  outline: none;
}

.infoForm input:focus, .infoForm textarea:focus, .infoForm select:focus {
  background-color:#fff6cf;
  outline: 2px solid #fff1b6;
}

.form_text_short { width:6em; }
.form_text_long { width:20em; }

