ol {
 list-style: none;
 width: 23em;
 padding: 1em;
 margin: auto;
}

li {
 margin-bottom: 1em;
}

label {
 margin-right: 1em;
}

li:nth-child(2) label {
 margin-right: 1.3em;
}

input[type="submit"] {
 margin-left: 45%;
 color: white;
 background-color: #9c0000;
 border: 1px solid #bd0000;
 border-radius: 1em;
 width: 7em;
 height: 2em;
}

