#logoContainer-drp {
 position:relative;
 padding:0.25em;
}

#logoImage {
 display:inline-block;
 height:3em;
 vertical-align:middle;
}
#logoText {
 vertical-align:middle;
 display:inline-block;
 color:white;
 font-size:2em;
}

@media (max-width:600px) {
  #logoText {
    display:none;
  }

  #logoImage {
    height:2.5em;
  }

  #logoContainer-drp {
    position:absolute;
    top:0px;
  }
}
