body {
 background-color:#f0d09e;
 margin:0;
 font-family: 'Open Sans', arial;
}

body header {
 background-color:#9c0000;
 padding:1em 0 0 0;
 margin-bottom:2em;
}

span.greeting {
 padding:.5em 0 .5em .5em;;
 background-color:#bd0000;
}

#userInfo span.greeting a.account {
 margin:1em 0 1em 1em;
}

img#mainLogo {
 width:3em;
 float:left;
 margin: 0 1em;
}

h1.mainTitle {
 margin:.1em 0 0 0;
 float:left;
}

#userInfo {
 height:1em;
 padding:1em;
 float:right;
}

#userInfo a:link {
 background-color:#bd0000;
 text-decoration:none;
 color:black;
 padding:.5em;
 margin:1em;
} #userInfo a:visited {
 color:black;
} #userInfo a:hover {
 color:#303030;
} #userInfo a:active {
 color:#303030;
}

div.nav-wrapper {
 background-color:#cc9f58;
 width:100%;
}


#navigationMenu {
 display:block;
 position:relative;
 width:32.5em;
 padding:10px 0px;
 text-align:left;
 background-color:#cc9f58;
 margin:4em auto 0em auto;
}

#navigationMenu li {
 margin:2em;
}

a.navLink:link {
 font-size:1.25em;
 color:black;
 text-decoration:none;
 margin:0px;
} a.navLink:visited {
 color:black;
} a.navLink:hover {
 color:#303030;
} a.navLink:active {
 color:#303030;
}

nav ol {
 list-style:none;
 padding:0;
}

nav ol li {
 display:inline;
}

img#userUpdate {
 width: 1em;
}

main {
 margin:1em;
}

main a:link {
 text-decoration: none;
 color: #9c0000;
}

main a:visited {
 text-decoration: none;
 color: #9c0000;
}

main a:hover {
 text-decoration: none;
 color: #9c0000;
 opacity:.7; 
}

main a:active {

}

.currentTitle { font-weight:bold; }

footer {
 font-size: .7em;
 color: gray;
 margin: 0 0 .5em 1em;
 clear:both; 
}
