/* colors here

dark blue: #20344b
blue: #658ebd
light blue: #8dabce
lightest: #b7cae0
tan: #e3d5bf
gray: #d1d1d1
light gray (almost white): #ededed
green: #376737
red: #8b2c27

 */

body {
 background-color:#d1d1d1;
 margin:0;
 font-family: 'Open Sans', arial;
}

body header {
 background-color:#20344b;
 padding:1em 0 0 0;
 margin-bottom:2em;
}



