#periodicTableContainer {
 position:relative;
 display:inline-block;
 text-align:center;
 width:100%;
}

.PT_spacer{
height:10px;
}

.PT_element {
 cursor:pointer;
 text-align:center;
 padding:1.5px;
 color:black;
 font-size:10px;
 border-radius:5px;

 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.PT_element:hover {

}
/* Table partitions */
.PT_hydrogen { background-color:#EBD8FF; }
.PT_alkaliMetal { background-color:#FFB459; }
.PT_alkaliEarth { background-color:#FFEE93; }
.PT_transitionMetal { background-color:#C381EA; }
.PT_poorMetal { background-color:#96C3FF; }
.PT_nonmetal { background-color:#8FD892; }
.PT_nobleGas { background-color:#BBAFFF; }
.PT_lanthanide { background-color:#FFCCF2; }
.PT_actinide { background-color:#C6905D; }

.PT_selected {
 background-color:#FFD92E;
}


