/* ###############   BUTTONS   ###################################### */
#searchButton {
	right:0px;
}

/* ###############   SPECIFIC ELEMENTS   ############################ */
#toIronwood { /* ### */
	position:absolute;
	background-color:orange;
	border:2px solid black;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	border-radius:5px;
	top:0px;
	color:black;
	padding:5px;
	left:200px;
}

/* ###############   CONTAINERS   ################################### */
