.projectNav-wrapper {
 background-color:#8dabce;
 width:100%;
}

ol.projectNav {
 display:block;
 position:relative;
 width:auto;
 padding:10px 0px;
 text-align:center;
 background-color:#8dabce;
 margin:0;
}

ol#projectNav2 {
 background-color:#b7cae0;
}

.projectNav li {
 margin:2em;
}

.projectNav li a:link {
 font-size: 1em;
 color:black;
 text-decoration: none;
 margin:0;
} .projectNav li a:visited {
 color:black;
} .projectNav li a:hover {
 color:#20344b;
} .projectNav li a:active {
 color:#20344b;
}
