/* stylesheet for reaction_form.html */

.reaction-form fieldset {
 margin:3em 0;
}

.reaction-form legend {
 font-weight:700;
}

.reaction-form label {
 margin-right:1em;
 vertical-align:top;
}

.reaction-form fieldset ol li {
 padding:1em 0;
}


/*******************   OLD CODE    **********************/

.fieldWrapper {
 display: inline-block;

 padding:5px;
 margin:5px;
 min-width:8em;

 background-color:#75ADE6;
 color:black;
}

.hiddenField { display:none; }

.reactionWrapper { display:inline-block; }





