/* stylesheet for reaction_form.html */

.reaction-form fieldset {
 margin:3em 0;
 border:1px solid black;
}

.reaction-form legend {
 font-weight:700;
}

.reaction-form label {
 margin-right:1em;
 vertical-align:top;
}

.reaction-form fieldset ol {
 padding:0;
 list-style:none;
}

.reaction-form fieldset ol li {
 padding:1em 0;
 float:left;
 margin-right:2em;
}

.reaction-form fieldset:nth-child(2) ol li {
 float:none;
}

.reaction-form input[type="submit"] {
 padding:0;
 color:white;
 background-color: #9c0000;
 border:1px solid #bd0000;
 border-radius:1em;
 width:7em;
 height:2em;
}

.reaction-form input[value="Save"] {
 margin: 0 45%;
}


/*******************   OLD CODE    **********************/

.fieldWrapper {
 display: inline-block;

 padding:5px;
 margin:5px;
 min-width:8em;

 background-color:#75ADE6;
 color:black;
}

.hiddenField { display:none; }

.reactionWrapper { display:inline-block; }





