/* stylesheet for reactions_list.html */

h1 {
 text-align: center;
}

div.downloads {
 margin-bottom: 4em;
}

h1.downloads {
 margin-bottom: 0;
 font-size: 1.5em;
}

ul.downloads {
 padding: 0;
 width: 25em;
 margin: auto;
}

ul.downloads li {
 list-style:none;
 float: left;
 margin: 0 1em;
}

div.reaction {
 color:black;
 width: 80%;
 height:auto;
 padding:1em;
 margin:1em auto;
 border-radius:1em;
 background-color: #ededed;
}

div.reaction h2 {
 float:left;
 margin:0;
}

.first_name {
 float:right;
}

.quantities {
 float: left;
 clear: left;
 margin: .5em 0;
}

.quantities p {
 margin: 0;
}

.quantities ul {
 padding:0 2em;
 float:left;
 clear:left;
 margin:0;
}

.quantities li {
 list-style: none;
 float:left;
 margin:0 1em 0 0;
}

.inserted_date {
 clear:both;
 margin-bottom:0.5em;
}

ol.pagination {
 list-style:none;
 padding: 0;
 width:18em;
 margin:1em auto 0 auto;
}

ol.pagination li {
 float:left;
 margin:0 1em;
 color: #20344b;
}

input[type="submit"] {
 padding:0;
 color:white;
 background-color: #8dabce;
 border:1px solid #658ebd;
 border-radius:1em;
 width:7em;
 height:2em;
 margin-bottom:.5em;
 float:left;
}

input.delete {
 margin-left:1em;
}

.input_wrapper {
 height:2em;
 width:17em;
 margin:1em auto 0 auto;
}

