h1 {
 text-align:center;
}

form ol {
 padding:0;
}

form li {
 list-style:none;
}

label {
 margin-right: 1em;
}

input[type="submit"] {
 margin-left: 45%;
 color: white;
 background-color: #8dabce;
 border: 1px solid #658ebd;
 border-radius: 1em;
 width: 7em;
 height: 2em;
}

