.infoBar {
 padding:1.5em 0em;
 text-align:center;
 background-color:#4d82ac;
 color:white;

 font-weight:bold;
}

#seedRecOven{
position:relative;
}

#seedRecOven .loadingWheel {
 position:absolute;
 bottom:0px;
 right:25px;
}
