a:hover, #changePassword:hover {
  opacity:0.8;
}

.bannerText {
  padding:1.25em 3em;
  font-size:1.25em;
  text-align:center;
  background-color:#773539;
  color:white;
}

.highlightText {
  opacity:0.9;
  font-weight:bold;
}

.basicParagraph {
  font-size:1.1em;
  text-align:justify;
  padding: 1em 10%;
}

.centerMessage {
  font-size:1.2em;
  text-align:center;
  padding:1em 0em;
}





.subscript {
 vertical-align:sub;
 font-size:12px;
}


.pagesInfo {
 display:inline-block;
 padding: 0em 0.5em;
 font-size:0.9em;
 color:white;
 outline:none;
}

#pageLinkCurrent {
 background-color:rgba(250,250,250,0.2);
}

#pagesTotal { display:none; }

/* Recommendation Groups */
.recommendation {
 background-color: #B5D0E8;
}

.badRecommendation {
 background-color:#FF8080;
 border-left-color: red;
}

.savedRecommendation {
 background-color:#99FF99;
}

.hiddenRecommendation {
 opacity:0.4;
 background-color:white;
}


#popupContainer_inner > a {
 color:silver;
}

.subPopup > h1 {
 margin:5px;
 text-align:center;
 padding-left:20px;
}

#changePassword {
 cursor:pointer;
 display:inline-block;
 font-size:12px;
 margin-bottom:4px;
}



