/* ############# EXTERNAL STYLE ################################## */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* ###############   UNIVERSAL   ################################### */
label {
 cursor:pointer;
}

a {
 text-decoration:none;
 cursor:pointer;
 color:yellow;
 outline:0;
 outline-color:transparent;
}

p {
 text-align:center;
}

table {
 margin: 0 auto;
 color:inherit;
}

body {
 margin:0px;
 padding: 0px;
 font-family:'Open Sans';
 min-width:500px;
}

input {
 outline:0;
}

select {
 outline:0;
}

input.shortText {
 width:80px;
}

input[type=text], input[type=password], input[type=email], textarea {
  border:none;
  padding:0.4em;
  margin:0.2em;
}


input[type=radio] {
 display:none;
}
input[type=radio] label {
    padding: 4px;
    background-color: silver;
    color:black;
}
input[type=radio]:checked + label {
 background-color:#FFD92E;
}

select {
 font-weight:bold;
}

input:hover, textarea:hover, select:hover,
input:focus, textarea:focus, select:focus {
 background-color:#FFF1B5;
}

option {
 background-color:inherit;
}

#label_and {
 margin:0 auto;
 margin-top:10px;
 display:block;
 width:50%;
}

#label_or {
 margin:0 auto;
 margin-bottom:10px;
 display:block;
 width:50%;
}

.radioContainer{
 margin-bottom:20px;
}

.blockElement {
 margin:5px;
 display: block;
 width:100%;
 text-align:center;
}

.radioLabel {
 display:block;
 position:relative;
 margin:0 auto;
 width:50%;
 max-width:200px;
}

#searchTabContainer{
 position:relative;
 width:100%;
 padding:6px;
 margin:0px;
 background-color:white;
}

.searchTab {
 padding: 0em 1em;
 list-style:none;
 display:inline-block;
}

.searchTab a{
 color:black;
}



/* #################    Search Results    ####################### */
#searchResultsContainer{
 position:relative;
 overflow:visible;
}

#searchResultsOuterContainer{
 position:relative;
 color:black;
}

#searchResultsContainer{
 position:relative;
 padding:16px;
 margin: 0 auto;
 margin-top:10px;
 margin-bottom:10px;
 min-height:20px;
 max-height:300px;
 max-width:600px;
 border-radius:5px;

 overflow:auto;

 font-size:14px;
 color:black;
 background-color:white;
}

#entriesFound {
 position:absolute;
 top:-10px;
 right:0px;
 padding:4px;
 border-radius:15px;
 font-size:12px;
 font-weight:bold;
 background-color:#DCDFE2;
}

/* #################    Popup Confirmation    ####################### */
.popupConfirmation{
 background-color:white;
 padding:10px;
 border-radius:5px;
 top:0px;
}

.ui-dialog {
 border: 2px solid black;
 background-color: #355A77;
 padding:10px;
 border-radius:10px;
 z-index:100;
}

.ui-dialog-titlebar {
 font-size:18px;
 color:#FFE98F;
}
.ui-dialog-buttonset {
 padding-top:10px
}

.ui-dialog-titlebar-close {
 display:none;
}


/* ###############   Specific Elements   ############################ */


.ribbonMessage {
 font-size:18px;
 position:fixed;
 width:100%;
 top:40%;
 left:0px;
 text-align:center;

 background-color:white;
 color:black;

 border:2px solid rgba(0,0,0,0.2);
 padding:1.5em 0em;
 z-index:9999;
}

.reloadActivator {
 height:1px;
 width:1px;
 position:absolute;
 top:0px;
 left:0px;
}

.successActivator {
 height:1px;
 width:1px;
 position:absolute;
 top:0px;
 left:0px;
}

.search_backText {
 text-decoration: line-through;
 opacity:0.7;
}

.search_filterButton {
 display: inline-block;
}

.search_filterText {
 font-weight: bold;
 color:#99FF5E;
}

/* ###############   CG Guide   ############################ */
#CG_display, .compoundCheckResults {
 position:relative;
 padding:16px;
 margin: 0 auto;
 margin-top:10px;
 margin-bottom:10px;
 min-height:20px;
 max-height:350px;
 border-radius:5px;

 overflow:auto;

 font-size:14px;
 color:black;
 background-color:white;
}

.compoundCheckResults:empty {
 display:none;
}

#CG_table{
 width:100%;
}

#CG_table td {
 padding-left:10px;
 text-align:center;
 padding:0px;
}

#headingRow {
 font-weight:bold;
 text-decoration:underline;
 text-align:center;
}

.CG_image_container {
 text-align:center;
 width:200px;
}

.CG_image_container:empty:after {
 opacity:0.5;
 font-size:12px;
 content:"Unknown!";
}

.CG_image {
 height:100px;
}

.type_CAS_ID {
 min-width:100px;
}
.type_CAS_ID:empty:after {
 opacity:0.5;
 font-size:12px;
 content:"Unknown!";
}

.type_abbrev {
 min-width:100px;
}

.type_compound {
 min-width:100px;
}

.loadingWheel {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor:default;
}

/*############################ Single elements ######################### */

.unselectable {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 cursor:default;
}

 #graph {
 width: 100%;
 height: 100%;
}

#loadingMessage {
  position:absolute;
  top: 8em;
  width: 100%;
  text-align: center;
  font-size: 2em;
}
