/* ############# EXTERNAL STYLE ################################## */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* ###############   BUTTONS   ###################################### */
.popupActivator {
 cursor:pointer;
}

.button {
 cursor:pointer;

 display:block;

 padding:10px;
 margin:0 auto;
 margin-top:10px;
 margin-bottom:10px;
 border:2px solid black;
 border-radius:2px;
 background-color:silver;
 color:black;

 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;

 font-size:16px;
 font-family:Montserrat;
}

.button:hover {
 background-color:#FFD92E;
}

.dataSpecificButtonContainer {
 position:absolute;
 top:-10px;
 left:5px;
}

.dataSpecificButton:hover{
 opacity:1;
}

.dataSpecificButton{
 position:relative;
 display:inline-block;
 margin-right:5px;
 height:20px;
 width:20px;
 border-radius:5px;
 background-size:contain;
 opacity:0.7;
}

.contractButton {
 position:absolute;
 cursor:pointer;
 text-align:left;
 color:white;
 top:0px;
 right:5px;
 font-size:20px;
 font-weight:bold;
 opacity:0.8;

 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.contractButton:hover {
 opacity:1;
 color:#FFD92E;
}

.closeButton {
 background-color:white;
 cursor:pointer;
 font-size:12px;
 font-weight:bold;
 text-align:center;

 width:15px;
 height:15px;
 border:2px solid black;
 border-top-right-radius:10px;
 border-bottom-left-radius:10px;
 padding:2px;

 position:absolute;
 top:10px;
 right:10px;

 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.closeButton:hover {
 background-color:#FFD92E;
}

.expandButton {
 position:absolute;
 bottom:-10px;
 padding:2px;
 border-radius:5px;
 border:2px solid black;
 text-align:center;

 font-size:10px;
 font-weight:bold;
 background-color:#FFE944;
 opacity:0.3;
}

 /*##############   Menu Buttons   ################################*/

/* ###############   TOP MENUS   ################################### */
#topPanel{
 position:relative;
 display:block;
}

/* ###### NAVIGATION ####### */
#navigationMenu {
 display:block;
 position:relative;
 width:100%;
 margin-bottom:10px;
 text-align:center;
}

.navLink {
 font-size:20px;
 color:black;
 margin:15px;
}

.navLink:hover {
 color:#444444;
}

/* ##### DATA MANIPULATION ##### */
#dataManipulationMenu {
 border-top: 2px solid black;
 border-bottom: 2px solid black;
 text-align:center; 
 padding:5px;
 background-color:#355A77;
}

.dataManipulationButton {
 height:30px;
 width:30px;

 background-repeat:no-repeat;
 background-position:center;
 background-size:80%;
 padding:5px;

 background-color:white;
 border-radius:15px;
 border: 2px solid black;
 display: inline-block;
 margin-right:10px;
 margin-left:10px;
}

.dataManipulationButton:hover {
 background-color:#FFE944;
 cursor:pointer;
}

/* ############### LOGO ######################################## */
#logoContainer {
 position:relative;
 width:400px;
 padding-left:100px;
 margin-bottom:5px; 
 display:block;
}

/* ########### MAIN AND SIDE PANELS ####################### */
#centerPanel {
 position:relative;
 display:block;
 text-align:center;
 width:100%;
 height:475px;
 border-bottom:2px solid black;
}

#mainPanel {
 display:inline-block;
 position:relative;
 height:100%;
 width:100%;
 float:left;
 overflow:hidden;
}

#sidePanel {
 display:inline-block;
 position:relative;
 height:100%;
 width:0%;
 overflow:hidden;
 float:right;
 background-color:#355A77;
 color:white;
}

/*
#leftPanel {
 height:100%;
 width:100px;

 position:fixed;
 margin-top:15px;
 left:0px;
}

#rightPanel {
 margin-left:130px;
 height:100%;
}


#topPanel {
 height:100px;
 position:absolute;
 border-bottom:2px solid black;
 min-width:500px;
}

#centerPanel {
 height:80%;
 min-height:510px;
 min-width:600px;
 position:relative;
 border-bottom:2px solid black;
}

*/
#bottomPanel {
 padding-top:10px;
}
/* ###############   UNIVERSAL   ################################### */
label {
 cursor:pointer;
}

a {
 text-decoration:none;
 cursor:pointer;
 color:yellow;
 outline:0;
 outline-color:transparent;
}

p {
 text-align:center;
}

table {
 margin: 0 auto;
 color:inherit;
}

body {
 margin:0px;
 padding: 0px;
 font-family:Montserrat;
 background-color:#E8F4FF;
 min-width:750px;
}

input {
 outline:0;
}

select {
 outline:0;
}

input[type=text] {
 border:2px solid black;
 border-radius:5px;
 padding:2px;
 padding-left:5px;
}

input[type=password] {
 border:2px solid black;
 border-radius:5px;
 padding:2px;
 padding-left:5px;
}

input[type=button] {
 border:2px solid black;
 font-weight:bold;
 border-top-right-radius:10px;
}

input[type=radio] {
 display:none;
}
input[type=radio] + label {
    padding: 4px;
    border-radius:5px;
    border: 2px solid black;
    background-color: silver;
    color:black;
}
input[type=radio]:checked + label {
 border:2px solid yellow;
 background-color:#FFD92E;
}

select {
 border:2px solid black;
 font-weight:bold;
 border-top-right-radius:10px;
}

input:hover {
 background-color:#FFF1B5;
}

input:focus {
 background-color:#FFD92E;
}
select:hover {
 background-color:#FFF1B5;
}

select:focus {
 background-color:#FFD92E;
}

option {
 background-color:inherit;
}
 /* ################   Tooltips    ############################### */
div.ui-tooltip {
 position:fixed;
 cursor: pointer;
 z-index:8000;
 background:rgba(1, 1, 1, 0.85);
 padding:8px;
 border-radius:15px;
 color: white;
 border:2px solid black;
}

.ui-tooltip-content{
 max-width:400px;
 color:white;

 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}


 /* ###############   Autocomplete    ############################ */
.ui-autocomplete {
 padding:8px;
 width:150px;
 display:inline-block;
 background:rgba(1, 1, 1, 0.85);
 border-radius:15px;
 color:white;
 z-index:2000;
 list-style:none;
}

.ui-corner-all {
 color:inherit;
}

.ui-menu-item {
 padding-left:10px;
 color:white;
}

.ui-menu-item:hover {
 background-color:#404040;
 border-radius:15px;
 cursor:pointer;
 font-weight:bold;
}

.ui-menu-item .ui-state-focus:hover {
 background-color: #404040;
}

/* ###############   CONTAINERS   ################################### */
.infoContainer {
 position:relative;
 font-size: 12px;
 background-color:white;
 overflow:auto;
 height:100%;
 padding-right:40px;
 padding-left:40px;
}

.genericContainer {
 background-color:#A1C5E2;
 border-radius:15px;
 border: 2px solid black;
}

.genericContainer_inner {
 background-color:white;
 border-radius:10px;
 padding:10px;
}

.genericContainer_inner_rec {
 position:relative;
 background-color:white;
 padding:10px;
 border-radius:10px;
 overflow: display;
}


#svgContainer {
 top:10px;
 bottom:10px;
 width:100%;
 position:absolute;
 overflow:hidden;

 border-top-right-radius:0px;
 border-bottom-right-radius:0px;
 margin-left:-20px;
 margin-right:20px;
}

#pageContainer {
 position:relative;
 height:14%;
 background-color:#5087B3;
 border-top:2px black solid;
 border-bottom:2px black solid;

 text-align:center;
 overflow:hidden;
}

/* TODO: Remove this element completely? Transfer variables to JS. */
.pagesInfo {
 margin-top:4px;
}

#pagesTotal {
 display:none;
}

#pagesInputText {
 width:65px;
}

#pagesInputButton {
 cursor: pointer;
}

#dataContainer {
 position:relative;
 padding-left:10px;
 padding-right:10px;
 height:86%;
 overflow:auto;
}

#recContainer {
 position:relative;
 padding-left:10px;
 padding-right:10px;
 height:100%;
 overflow:auto;
}

#copyrightContainer {
 position:relative;
 margin-top:5px;
 font-size:12px;
 text-align:center;
}

#haverfordLogo {
 margin: 0 auto;
 margin-top:10px;
 width:125px;
 outline:none;
 -webkit-filter: invert(1);
 -moz-filter: invert(1);
 -ms-filter: invert(1);
 filter: invert(1);
}
/* ################### POPUP STYLES ################################# */
#popupGlobal {
 display:none;
 position:absolute;
 z-index:101;
 width:100%;
}

#popupContainer {
 position:relative;
 height:auto;
 width:auto;
 z-index:101;
}

#popupContainer_inner {
 background-color:#355A77;
 margin:10px;
 border-top: 2px black solid;
 border-left: 2px black solid;
 border-radius:25px;
 padding:15px;
 overflow:hidden;

 color:#FFE98F;
}

#mainContainer {
 display:inline-block;
 position:relative;
 width:100%;
 height:100%;
 min-width:730px;
 z-index:1;
}

#mask {
 position:fixed;
 top:0px;
 left:0px;
 height:100%;
 width:100%;
 background-color:black;
 opacity:0.3;
 z-index:100;
}

.darkenedMask {!important //TODO: Make this less "hacky"
 opacity: 0.9;
}

.cover {
 position:fixed;
 top:0px;
 left:0px;
 height:100%;
 width:100%;
}

/* #################### FORM STYLE ################################# */
.fieldWrapper {
 padding:5px;
 border: 2px black solid;
 border-radius:10px;
 margin:5px;
 display: inline-block;
 text-align:left;
 min-width:100px;

 background-color:#75ADE6;
 color:black;
}

.reactionWrapper {
 background:rgba(64, 64, 64, 0.3);
 display:inline-block;
 border-radius:15px;
}

.form_text_short {
 width:65px;
}
.form_text_long {
 width:250px;
}

.badData {
 background-color:red;
}
.badData:focus {
 background-color:#F7605B;
}



/* ##################   SPECIFIC POPUPS   ########################### */
#popupContainer[for="changePassword"] {
 text-align:center;
 top:50px;
 left:30%;
 width:40%;
 min-width:300px;
}

#popupContainer[for="userUpdate"] {
 text-align:center;
 top:50px;
 left:20%;
 width:60%;
 min-width:450px;
}

#popupContainer[for="userLogin"] {
 text-align:center;
 top:50px;
 left:30%;
 width:40%;
 min-width:300px;
}

#popupContainer[for="registrationPrompt"] {
 text-align:center;
 top:50px;
 left:30%;
 width:40%;
 min-width:300px;
}

#popupContainer[for="labRegistration"] {
 text-align:center;
 top:50px;
 left:20%;
 width:60%;
 min-width:400px;
}

#popupContainer[for="userRegistration"] {
 text-align:center;
 top:50px;
 left:20%;
 width:60%;
 min-width:400px;
}

#popupContainer[for="searchButton"] {
 text-align:center;
 top:50px;
 left:15%;
 width:70%;
 min-width:600px;
}

#popupContainer[for="userLicenseAgreement"] {
 text-align:center;
 top:50px;
 left:20%;
 width:60%;
 min-width:300px;
}

#popupContainer[for="leftMenu_addNew"], 
#popupContainer[for="transferRecommendation"] {
 text-align:center;
 top:50px;
 left:10%;
 width:80%;
 min-width:570px;
}

#popupContainer[for="leftMenu_uploadCSV"] {
 text-align:center;
 top:50px;
 left:25%;
 width:50%;
 min-width:400px;
}

#popupContainer[for="leftMenu_downloadCSV"] {
 text-align:center;
 top:50px;
 left:20%;
 width:60%;
 min-width:400px;
}

#popupContainer[for="CG_activatorButton"] {
 text-align:center;
 top:50px;
 left:10%;
 width:80%;
 min-width:570px;
}

.subPopup { /* Right now, just used for errors. */
 position:absolute;
 background-color: #FFD6D6;
 border:4px solid #B20200;
 border-radius:15px;
 width:550px;
 z-index:103;
 padding:0px;
 padding-bottom:5px;

 color:black;
}

/* #################    Periodic Table    ####################### */
#periodicTableContainer {
 position:relative;
 display:inline-block;
 text-align:center; 
 width:100%;
}

.PT_spacer{
height:10px;
}

.PT_element {
 cursor:pointer; 
 text-align:center;
 padding:1.5px;
 color:black;
 font-size:10px;
 border-radius:5px;

 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.PT_element:hover {

}
/* Table partitions */
.PT_hydrogen { background-color:#EBD8FF; }
.PT_alkaliMetal { background-color:#FFB459; }
.PT_alkaliEarth { background-color:#FFEE93; }
.PT_transitionMetal { background-color:#C381EA; }
.PT_poorMetal { background-color:#96C3FF; }
.PT_nonmetal { background-color:#8FD892; }
.PT_nobleGas { background-color:#BBAFFF; }
.PT_lanthanide { background-color:#FFCCF2; }
.PT_actinide { background-color:#C6905D; }

.PT_selected {
 background-color:#FFD92E;
}

#label_and {
 margin:0 auto;
 margin-top:10px;
 display:block;
 width:50%;
}

#label_or {
 margin:0 auto;
 margin-bottom:10px;
 display:block;
 width:50%;
}

.radioContainer{
 max-height:100px;
 width:100%;
 overflow:auto;
 margin-bottom:20px;
}

.blockElement {
 margin:5px;
 display: block;
 width:100%;
 text-align:center;
}

.radioLabel {
 display:block;
 position:relative;
 margin:0 auto;
 width:50%;
 max-width:200px;
}

#searchTabContainer{
 position:relative;
 width:100%;
 padding:6px;
 margin:0px;
 margin-bottom:20px;
 background-color:white;
}

.searchTab{
 margin-left:6px;
 margin-right:6px;
 list-style:none;
 padding:0px;
 display:inline-block;
}

.searchTab a{
 color:black;
}

/* ###############   DATA STYLE   ################################### */
.dataGroup:hover {
 background-color:#F1FF8C;
 cursor:pointer;
}

.badDataGroup {
 background-color:#FF6868;
 border-color:red;
}

.dataSelected {
 background-color:#FFE944;
}

.dataSelected .dataIndex:after {
 content: "\2713";
}

.dataIndex {
 font-size:12px;
 font-weight:bold;
 position:absolute;
 right:-7px;
 top:-8px;

 background-color:#355A77;
 color:white;

 border-radius:15px;
 border-top-right-radius:0px;
 border-bottom-left-radius:0px;
 border:2px black solid;
 padding-left:15px;
 padding-right:8px;
}

.dataGroup_shape {
 margin-top:8px;
 margin-bottom:15px;
 position:relative;
 text-align:left;
 border-left:2px solid black;
 border-top:2px solid black;
}

.dataField {
 padding:2px;
 border-radius:5px;
 font-size:12px;
}

.dataField.editable:hover {
 background-color:#E8F4FF;
 border-radius:15px;
}

.dataField:after {
 font-weight:bold;
}

.dataField:before {
 font-weight:bold;
 font-size:14px;
}

.dataDecorator {
 font-weight:bold;
 font-size:14px;
 display:inline-block;
}

  /* ############### :AFTER STYLE ############################# */
.type_temp:after { content: "\2103"; }
.type_time:after { content: " Hours"; }
.type_notes:empty:after { content:"(None)"; }
.type_duplicate_of:empty:after { content:"(None)"; }
.type_abbrev:empty:after {
 content:"(None)";
 opacity:0.5;
}

  /* ############### :BEFORE STYLE ############################# */
.type_slow_cool:before { content: "Slow Cooled: "; }
.type_leak:before { content: "Leak: "; }
.type_pH:before { content: "pH: "; }
.type_purity:before { content: "Purity: "; }
.type_outcome:before { content: "Outcome: "; }
.type_notes:before { content: "Notes: "; }
.type_ref:before { content: "Reference: "; }
.type_duplicate_of:before { content: "Duplicate of: "; }
.type_recommended:before { content: "Recommended: "; }
.type_user:before {
 content:"Last Modified by ";
 font-weight:bold;
}

  /* ################ .TYPE STYLE ############################# */
.type_reactant {
 font-weight:bold;
 font-style:none;
 max-width:300px;
}

.type_notes {
 max-width:400px;
}

.opaqueDatum {
 opacity:0.5;
}

.type_user {
 font-size:14px;
 position:absolute;
 right:0px;
 bottom:-7px;
}

/* #################    Search Results    ####################### */
#searchResultsContainer{
 position:relative;
 overflow:visible;
}

#searchResultsOuterContainer{
 position:relative;
 color:black;
}

#searchResultsContainer{
 position:relative;
 padding:16px;
 margin: 0 auto;
 margin-top:10px;
 margin-bottom:10px;
 min-height:20px;
 max-height:300px;
 max-width:600px;
 border-radius:5px;

 overflow:auto;

 font-size:14px;
 color:black;
 background-color:white;
}

#entriesFound {
 position:absolute;
 top:-10px;
 right:0px;
 padding:4px;
 border-radius:15px;
 font-size:12px;
 font-weight:bold;
 background-color:#DCDFE2;
}

/* #################    Popup Confirmation    ####################### */
.popupConfirmation{
 background-color:white;
 padding:10px;
 border-radius:5px;
 top:0px;
}

.ui-dialog {
 border: 2px solid black;
 background-color: #355A77;
 padding:10px;
 border-radius:10px;
 z-index:100;
}

.ui-dialog-titlebar {
 font-size:18px;
 color:#FFE98F;
}
.ui-dialog-buttonset {
 padding-top:10px
}

.ui-dialog-titlebar-close {
 display:none;
}

/* ###############   TEXT   ######################################### */
.separatedText {
 margin:20px;
 font-size:18px;
}

p.basicParagraph {
 margin: 10px;
 text-align:justify;
 text-indent:40px;
 line-height:20px;
 word-spacing:2px; 
}

.pagesInfo {
 font-weight:bold;
 display:inline-block;
 font-size:14px;
 color:white;
}

.pageLink {
 background-color:#3B5D77;
 padding-left:3px;
 padding-right:3px;
 border-radius:15px;
}

.pageLink:hover {
 color:yellow;
 padding-left:3px;
 padding-right:3px;
}

#pageLinkCurrent {
 border:2px solid #304B60;
}

/* Recommendation Groups */
.recommendation {
 background-color: #B5D0E8;
}

.badRecommendation {
 background-color:#FF8080;
 border-left-color: red;
}

.savedRecommendation {
 background-color:#99FF99;
}

#popupContainer_inner > h1 {
 margin:5px;
 text-align:center;
 color:white;
 border-bottom:2px solid white;
}

#popupContainer_inner > a {
 color:silver;
}

.subPopup > h1 {
 margin:5px;
 text-align:center;
 padding-left:20px;
}

#changePassword {
 cursor:pointer;
 display:inline-block;
 font-size:12px;
 margin-bottom:4px;
}

#changePassword:hover {
 font-weight:bold;
}

.userAuthLink {
color: #355A77;
}

/* ###############   Specific Elements   ############################ */
#userUpdate {
 display:inline-block;
}

#userUpdate:hover {
 font-weight:bold;
}


#userInfo {
 z-index:5;
 background-color:#A1C5E2;
 border-bottom-left-radius:15px;
 border: 2px solid black;
 position:absolute;
 right:0px;
 top:0px;

 text-align:center;
 padding:5px;
 min-width:100px;
}

#userInfo_inner {
 font-size:14px;
 padding:8px;
 margin-left:15px;
 background-color:white;
 border-radius:5px;
 border-bottom-left-radius:15px;
}

.ribbonMessage {
 font-size:18px;
 position:absolute;
 width:100%;
 top:40%;
 left:0px;
 text-align:center;

 background-color:white;
 color:black;

 border-top:2px solid black;
 border-bottom:3px solid black;
 padding-top:5px;
 padding-bottom:5px;
 z-index:9999;
}

.reloadActivator {
 height:1px;
 width:1px;
 position:absolute;
 top:0px;
 left:0px;
}

.successActivator {
 height:1px;
 width:1px;
 position:absolute;
 top:0px;
 left:0px;
}

.search_backText {
 text-decoration: line-through;
 opacity:0.7;
}

.search_filterButton { 
 display: inline-block;
}

.search_filterText {
 font-weight: bold;
 color:#99FF5E;
}

/* #####################   ERROR STYLE   ############################ */
.error {
 display:inline-block;
 background-color: #F7605B;
 border-radius:5px;
 border: 2px solid #B35350;
 margin:2px;
 padding:5px;
}

.error_label {
 display:inline-block;
 background-color: #E65140;
 border-radius:15px;
 padding:5px;
 font-weight:bold;
 opacity:0.8;
}
.error_label:hover {
 opacity:1;
}

.error_message {
 display:inline-block;
}

