#userInfo {
 position:absolute;
 right:0px;
 top:0px;
}

#userInfo_inner {
 font-size:1em;
 padding:0.5em 1em;
 background-color:white;
 border-bottom-left-radius:15px;

 text-align:right;
}

#userInfo span {
 vertical-align:middle;
}
#userUpdate {
 display:inline-block;
 height:1em;
 margin-left:0.25em;
 vertical-align:middle;
}

#userUpdate:hover {
 opacity:0.5;
}

#userLogOut {
 font-size:0.8em;
}

#userInfo a {
  color: #355A77;
}

@media (max-width:600px) {
  #userInfo {
    display:none;
  }
}

