{% extends 'base.html' %}    

{% block additional_head %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/home.css"/>
{% endblock %
{% block content %}
<h1>500 Error</h1>
    <p>Yikes! Something broke! <a href="{% url 'contact' %}">Tell us so we can fix it!</a></p>

     <blockquote cite="https://books.google.com/books?id=rUBIvuSijkoC&pg=PA22&lpg=PA22&dq=At+the+source+of+every+error+which+isblamed+on+the+computer+you+will+find+atleast+two+human+errors,+including+the+error+of+blaming+it+on+the+computer.-&source=bl&ots=g5mQCgPiF6&sig=3l8M74InatoweD5tZR1QDC6ogSI&hl=en&sa=X&ved=0ahUKEwiEusfcpLfNAhWBViYKHQdRAHgQ6AEIMDAD#v=onepage&q=At%20the%20source%20of%20every%20error%20which%20isblamed%20on%20the%20computer%20you%20will%20find%20atleast%20two%20human%20errors%2C%20including%20the%20error%20of%20blaming%20it%20on%20the%20computer.-&f=false">At the source of every error which is blamed on a computer, you will find at least two human errors, including the error of blaming it on the computer.</blockquote>
     <p>~Tom Glib (Quotations of Wit &amp; Wisdom by Dr. N. Sreedharan)</p> 

{% endblock %}
