

<!--Display different "Teams" below the NSF and Haverfod logos --> 
<div id="people">

  <div class="column">
    <div class="colHead">Friedler Lab</div>  
    <div class="Professors">
      <div class="profPics"> <img src="{{STATIC_URL}}images/Sorelle.jpg"/></div>
      <div class="profLinks"> 
        <div> 
	      <a href="http://www.haverford.edu/computerscience/faculty/sorelle/index.html">
	        <h1>
		    <span class="tooltip" title="Visit Sorelle's home page.">Sorelle Friedler</span>
	        </h1>
	      </a>
        </div> 
      </div> 
      <div class="profBio"> 
          <hr><p>Assistant Professor of Computer Science, Haverford College.</p>
      </div> 
    </div> 
  </div>   


  <div class="column">
    <div class="colHead">Norquist Lab</div>  
    <div class="Professors">
      <div class="profPics"> <img id="Alex" src="{{STATIC_URL}}images/Alex.jpg"/></div>
      <div class="profLinks"> 
        <div> 
	      <a href="http://www.haverford.edu/chem/Norquist/index.html">
	        <h1>
		    <span class="tooltip" title="Visit Alex's home page">Alex Norquist</span>
	        </h1>
	      </a>
        </div> 
      </div> 
      <div class="profBio"> 
          <hr><p>Associate Professor of Chemistry, Haverford College.</p>
      </div> 
    </div> 
  </div>  

  <div class="column">
	<div class="colHead">Schrier Lab </div>
    <div class="Professors">
	<div class="profPics"> <img id="Joshua" src="{{STATIC_URL}}images/Joshua.jpg"/></div> 
        <div class="profLinks">
	  <div>  
	    <a href="http://www.haverford.edu/chemistry/schrier">	
		<h1>
		  <span class="tooltip" title="Visit Joshua's home page">Joshua Schrier</span>
		</h1>
       	    </a>
          </div>
	</div> 
	<div class="profBio"> 
	  <hr><p>Assistant Professor of Chemistry, Haverford College.</p>   
 	</div> 
    </div> 
  </div> 

</div> 
 
<div class="back_ground">
<!--Display the NSF and Haverford logos, linking to their respective sites. --> 
<div id="logos">
    <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1307801" title="See the full NSF award.">
      <img id="NSF" src="{{STATIC_URL}}images/NSF.gif"/>
    </a> 
    <a href="http://www.haverford.edu/" title="Haverford College home page."/>
      <img id="haverfordLogo" src="http://www.haverford.edu/foundation/images/Haverford-College-Wordmark-White.png" alt="Haverford College"/>
    </a> 
</div>  


