<div class='bannerText'>
  Contributors
</div>

<div class='drpGroup'>
  <div class='groupName'>
    <a href='http://www.haverford.edu/computerscience/faculty/sorelle/index.html'>
      Sorelle Friedler
    </a>
  </div>
  <img class='groupPicture' src="{{STATIC_URL}}images/Sorelle.jpg" />
  <div class='groupInfo'>
    Assistant Professor of Computer Science,
    Haverford College.
  </div>
</div>

<div class='drpGroup'>
  <div class='groupName'>
    <a href='http://www.haverford.edu/chem/Norquist/'>
      Alex Norquist
    </a>
  </div>
  <img class='groupPicture' src="{{STATIC_URL}}images/Alex.jpg" />
  <div class='groupInfo'>
    Associate Professor of Chemistry,
    Haverford College.
  </div>
</div>

<div class='drpGroup'>
  <div class='groupName'>
    <a href='http://www.haverford.edu/chem/schrier/'>
      Joshua Schrier
    </a>
  </div>
  <img class='groupPicture' src="{{STATIC_URL}}images/Joshua.jpg" />
  <div class='groupInfo'>
    Assistant Professor of Chemistry,
    Haverford College.
  </div>
</div>

<div id='contributorContainer'>

  <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1307801"
    title="See the full NSF award.">
    <img class='contributorLogo' src="{{STATIC_URL}}images/NSF.gif"/>
  </a>

  <a href="http://www.haverford.edu/"/>
    <img class='contributorLogo'
        id="haverfordLogo" src="{{STATIC_URL}}images/haverford_logo.png"/>
  </a>

</div>
