<div class='bannerText'>
  Contributors
</div>

<div class='contributor'>
  <div class='groupName'>
    <a href='http://www.haverford.edu/computerscience/faculty/sorelle/index.html'>
      Sorelle Friedler
    </a>
  </div>
  <img class='soloPicture' src="{{STATIC_URL}}images/Sorelle.jpg" />
  <div class='soloInfo'>
    Assistant Professor of Computer Science,
    Haverford College.
  </div>
</div>

<div class='contributor'>
  <div class='groupName'>
    <a href='http://www.haverford.edu/chem/Norquist/'>
      Alex Norquist
    </a>
  </div>
  <img class='soloPicture' src="{{STATIC_URL}}images/Alex.jpg" />
  <div class='soloInfo'>
    Associate Professor of Chemistry,
    Haverford College.
  </div>
</div>

<div class='contributor'>
  <div class='groupName'>
    <a href='http://www.haverford.edu/chem/schrier/'>
      Joshua Schrier
    </a>
  </div>
  <img class='soloPicture' src="{{STATIC_URL}}images/Joshua.jpg" />
  <div class='soloInfo'>
    Assistant Professor of Chemistry,
    Haverford College.
  </div>
</div>

<div class='contributor'>
  <div class='groupName'>Friedler Lab</div>
  <img src='{{STATIC_URL}}images/FriedlerLab.jpg' class='groupPicture' />
  <div class='groupInfo info'>
    Paul Raccuglia,
    Nora Tien,
    <a href='http://caseyfalk.com'>Casey Falk</a>,
    Daniel Washburn
    <br/>
    (Left to Right)
  </div>
</div>

<div id='contributorContainer'>

  <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1307801"
    title="See the full NSF award.">
    <img class='contributorLogo' src="{{STATIC_URL}}images/NSF.gif"/>
  </a>

  <a href="http://www.haverford.edu/"/>
    <img class='contributorLogo'
        id="haverfordLogo" src="{{STATIC_URL}}images/haverford_logo.png"/>
  </a>

</div>
