<h1>Change Password</h1>
<p>Sorry you lost your password! We will email you a code to change it.</p>
<form action="/change_password/" method="post" name="getCode" class="popupScreenForm infoForm">
	{% csrf_token %}
	<label for="email">Email:</label>
	<input type="text" name="email" value="" id="id_email" />
	<input type="submit" id="emailCodeButton" name="emailCode" value="Send" class="genericButton form_button" />
</form>

{% if code_sent %}
{% endif %}
		<br /><br />
<form action="/change_password/" method="post" name="verifyCode" class="popupScreenForm infoForm">
	{% csrf_token %}
	<label for="code">Code:</label>
	<input type="text" name="code" value="" id="id_code">
	<br />
	
	<label for="newpassword">New Password:</label>
	<input type="password" name="newpassword" value="" id="id_newpassword">
	<br />
	
	<input type="submit" name="submitForm" value="Submit Request" class="form_button"/>
	{% if error %}
		<div class="error">
			{{ error }}
		</div>	
	{% endif %}
</form>

