<div class='bannerText'>
  Change Password
</div>

<p>Enter the information for your account we'll email you a new password.</p>

{% if error %}
 <div class="error">
  No user was found with those credentials.
 </div>
{% endif %}

<form action="/change_password/" method="post" name="changePassForm" class="popupScreenForm infoForm">
 {% csrf_token %}

 <label for="email">
   Email:
   <input type="text" name="email" value="" id="id_email" /> <br/>
 </label>

 <label for="username">
   Username:
   <input type="text" name="username" value="" id="id_username" /> <br/>
 </label>

 <label for="lastName">
   Last Name:
   <input type="text" name="lastName" value="" id="id_lastName" />
 </label>

 <input type="submit" id="changePassForm" name="changePassForm" value="Change Password" class="button" />
</form>

