{% extends 'compound_base.html' %}

{% block content %}

<h1 class="bannerText">Compound Guide</h1>
<form action="{% url 'selectGroup' %}?next={% url 'compoundguide' as compound_guide_url %}{{ compound_guide_url|urlencode:"" }}" method="post">
  {% csrf_token %}
  <ol>
  {{ lab_form.as_ul }}
  </ol>
  <input type="submit" value="select" />
</form>
{% if compounds|length >  0 %}
  <table>
    <thead>
      <tr>
        <th>Abbreviation</th>
        <th>Name</th>
        <th>ChemSpider ID</th>
        <th>Compound Classes</th>
      </tr>
    </thead>
  {% for compound in compounds %}
    <tr>
      <td>{{ compound.abbrev }}</td>
      <td>{{ compound.name }}</td>
      <td>{{ compound.CSID }}</td>
      <td>
        <ul>
          {% for class in compound.chemicalClass.all %}
            {{ class }}
          {% endfor %}
        </ul>
      </td>
    </tr>
  {% endfor %}
  </table>
  <!-- 7f25b7df-2176-455b-9a68-620af1d52e46 -->
{% else %}
  <p> There are no compounds in this compound guide yet. </p>
  <!-- 1bf53b3a-ddf0-407b-b565-b732e4fa5ddb -->
{% endif %}
<!-- bf3a3711-b21d-4710-a989-6d1ebc1c9ee9 -->
{% endblock %}
