<h1>New Compound Entry:</h1>
<div class="warningIndicator"></div>

{% if form.errors %}
 <div class="subPopup">
  <div class="closeButton">x</div>
   <h1>Errors:</h1>
  {% for field in form %}
  {% if field.errors %}
   <div class="error">
    <div class="error_label">{{ field.label_tag }}</div>
    <div class="error_message">{{ field.errors.as_text }}</div>
   </div>
  {% endif %}
  {% endfor %}
 </div>
{% endif %}

{% if success %}
 <div class="successActivator"></div>
{% endif %}

<form id="compoundGuideForm" method="post" action="/compound_guide_form/" class="popupScreenForm infoForm">
 {% csrf_token %}
 {% for field in form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
   <div class="fieldWrapper">
    {{ field.label_tag }} {{ field }}
   </div>
  {% endif %}
 {% endfor %}


 <div class="fieldWrapper hiddenField">
  <label for="id_atoms">Elements: </label>
  <input class="form_text" id="id_atoms" name="atoms" title="What elements are present in this compound? Separate with spaces." type="text" />
 </div> 
 <div class="fieldWrapper hiddenField">
  <label for="id_mw">Molecular Weight: </label>
  <input class="form_text form_text_short numericValue" id="id_mw" name="mw" title="What is the molecular weight of this compound (in g/mol)?" type="text" />
 </div>

 <input type="hidden" name="customCompound" value=""/>




 {% if user.is_authenticated %}
  <center>
  <div title="Search for this compound." class="button checkCompoundButton">Search</div>
  <div title="Input a compound without searching." class="button customCompoundButton">Custom</div>
  <div class="compoundCheckResults"></div>
  </center>
 {% else %}
  <p> Please log in to submit data. </p>
 {% endif %}
 </div>
</form>
