{% extends 'compound_base.html' %}
{% load compound_delete_form %}

{% block content %}

<h1 class="bannerText">Compound Guide</h1>
<nav>
  <ol>
    <li><a href="{% url 'uploadcompoundcsv' %}">Upload csv file</a></li>
  </ol>
</nav>
{% if user.labgroup_set.all.count > 1 %}
<form action="{% url 'selectGroup' %}?next={% url 'compoundguide' as compound_guide_url %}{{ compound_guide_url|urlencode:"" }}" method="post">
  {% csrf_token %}
  <ol>
  {{ lab_form.as_ul }}
  </ol>
  <input type="submit" value="select" />
</form>
{% endif %}
{% block filter_form %}
  <form action="{% url 'compoundSearch' %}" method="get">
    {{ filter_formset.management_form}}
    <ol>
      <li><ol>{{ filter_formset.forms.0.as_ul }}</ol></li>
      {% for form in filter_formset.forms|slice:"1:" %}
        <li><ol>{{ form.as_ul }}</ol></li>
      {% endfor %}
    </ol>
    <input type="submit" value="Filter" name="filter" />
  </form>
{% endblock %}
{% if compounds|length >  0 %}
  <table>
    <thead>
      <tr>
        <th>Abbreviation</th>
        <th>Name</th>
        <th>ChemSpider ID</th>
        <th>Compound Classes</th>
      </tr>
    </thead>
  {% for compound in compounds %}
    <tr>
      <td>
        <a href="{% url 'editCompound' compound.pk %}">
          {{ compound.abbrev }}
        </a>
      </td>
      <td>{{ compound.name }}</td>
      <td>{{ compound.CSID }}</td>
      <td>
        <ul>
          {% for class in compound.chemicalClasses.all %}
            <li>{{ class }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {% if not compound.reaction_set.all.exists %}
        <form action="{% url 'deleteCompound' %}" method="post">
          {% csrf_token %}
          {% compound_delete_form compound %}
          <input type="Submit" value="delete" />
        </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
  <!-- 7f25b7df-2176-455b-9a68-620af1d52e46 -->
{% else %}
  <p> There are no compounds in this compound guide yet. </p>
  <!-- 1bf53b3a-ddf0-407b-b565-b732e4fa5ddb -->
{% endif %}
<!-- bf3a3711-b21d-4710-a989-6d1ebc1c9ee9 -->
{% endblock %}
