<div class="secondaryCornerButton popupCornerButton genericButton popupActivator" title="Download Compound Guide." style="background-image: url({{ STATIC_URL }}icons/download.png);" id="leftMenu_download_compoundentry"></div>
<div class="tertiaryCornerButton popupCornerButton genericButton popupActivator" title="Upload Compound Guide." style="background-image: url({{ STATIC_URL }}icons/upload.png);" id="leftMenu_upload_compoundentry"></div>

<div class='bannerText'>Compound Guide</div>

{% spaceless %}
<div id="CG_display">
 {% if guide %}
  <table id="CG_table">
   <tr id="headingRow">
    <td>Structure</td>
    <td>Abbreviation</td>
    <td>Compound</td>
    <td>CAS</td>
    <td>Type</td>
   </tr>
  {% for entry in guide %}
    <tr pid="{{entry.id}}" class="CGRow">
    {% include "compound_guide_row.html" with entry=entry %}
    </tr>
  {% endfor %}
  </table>
 {% else %}
  <p>No entries in compound guide!</p>
 {% endif %}
</div>
{% endspaceless %}

<div class="button formButton popupActivator" title="Add a new compound entry." id="CompoundGuide_form">New</div>
