<div class='bannerText'>
Contact Us
</div>

<div id='contactFormContainer'>
  <form action="/contact_form/" class="inlineForm infoForm" id='contactForm'>
  <label for="email">Email:
    <input id="email" name="email" type="email" placeholder="johnsmith@gmail.com" value="{{user.email}}" />
  </label>

  <label for="subject">Subject:
    <select id="subject" name="subject">
      <option  value="Comment">Comment</option>
      <option  value="Concern">Concern</option>
      <option  value="Bug/Error">Bug / Error</option>
      <option  value="Feature Request">Feature  Request</option>
    </select>
  </label>

  <label for="content">Content:
    <textarea id="content" name="content" placeholder="Please insert text here..."></textarea>
  </label>

  <input name="submit" id="submit" type="submit" value="Send" class="button"/>

  </form>
</div>
