{% extends "base.html" %}

{% block additional_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" />
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-item">
    <h2>Num experiments: {{num_experiments}}</h2>
    <h4> <span style="color: green;">{{num_experiments_public}}</span> are public,
         <span style="color: red">{{num_experiments_private}}</span> are private
    </h4>
  </div>
  <div class="grid-item"><h3>Date Reactions were Entered</h3><div id="when_reactions_entered_graph"></div></div>
  <div class="grid-item"><h3>Date Reactions were Performed</h3><div id="when_reactions_performed_graph"></div></div>
  <div class="grid-item"><h3>Split Bar Test</h3><div id="split_test"></div></div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
</div>

<!-- GRAPHS ARE FROM https://bl.ocks.org/d3noob/96b74d0bd6d11427dd797892551a103c -->
<!-- load the d3.js library -->     

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
/*
$(document).ready(function() {
// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 40},
    width = 500 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// parse the date / time
var parseDate = d3.timeParse("%Y-%m-%d");

// set the ranges
var x = d3.scaleTime()
          .domain([new Date(2015, 6, 3), new Date(2018, 0, 1)])
          .rangeRound([0, width]);
var y = d3.scaleLinear()
          .range([height, 0]);

// set the parameters for the histogram
var histogram = d3.histogram()
    .value(function(d) { return d.date; })
    .domain(x.domain())
    .thresholds(x.ticks(d3.timeMonth));

// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#when_reactions_entered_graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");


// get the data
d3.csv("{{ STATIC_URL }}dateEntered.csv", function(error, data) {
  if (error) throw error;
  // format the data
  data.forEach(function(d) {
      d.date = parseDate(d.date);
  });

  // group the data for the bars
  var bins = histogram(data);

  // Scale the range of the data in the y domain
  y.domain([0, d3.max(bins, function(d) { return d.length; })]);

  // append the bar rectangles to the svg element
  svg.selectAll("rect")
      .data(bins)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("transform", function(d) {
      return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
      .attr("width", function(d) { return x(d.x1) - x(d.x0) - 1 ; })
      .attr("height", function(d) { return height - y(d.length); });

  // add the x Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // add the y Axis
  svg.append("g")
      .call(d3.axisLeft(y));
      
});
});
*/
</script>

<!-- Copy pasted for now, but I could make it a separate file and function -->

<script>
/*
$(document).ready(function() {
// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 40},
    width = 500 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// parse the date / time
var parseDate = d3.timeParse("%Y-%m-%d");

// set the ranges
var x = d3.scaleTime()
          .domain([new Date(2015, 6, 3), new Date(2018, 0, 1)])
          .rangeRound([0, width]);
var y = d3.scaleLinear()
          .range([height, 0]);

// set the parameters for the histogram
var histogram = d3.histogram()
    .value(function(d) { return d.date; })
    .domain(x.domain())
    .thresholds(x.ticks(d3.timeMonth));

// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#when_reactions_performed_graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");


// get the data
d3.csv("{{ STATIC_URL }}datePerformed.csv", function(error, data) {
  if (error) throw error;
  console.log("obv")
  // format the data
  data.forEach(function(d) {
      console.log(d.date)
      d.date = parseDate(d.date);
      console.log(d.date)
  });

  // group the data for the bars
  var bins = histogram(data);

  // Scale the range of the data in the y domain
  y.domain([0, d3.max(bins, function(d) { return d.length; })]);

  // append the bar rectangles to the svg element
  svg.selectAll("rect")
      .data(bins)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("transform", function(d) {
      return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
      .attr("width", function(d) { return x(d.x1) - x(d.x0) - 1 ; })
      .attr("height", function(d) { return height - y(d.length); });

  // add the x Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // add the y Axis
  svg.append("g")
      .call(d3.axisLeft(y));
      
});
});
*/
</script>

<script type="text/javascript">
$(document).ready(function() {
console.log("we did this one thing")
// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 160, bottom: 35, left: 30};

var width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var svg = d3.select("#split_test")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10", mcintosh: "15", oranges: "9", pears: "6" },
  { year: "2007", redDelicious: "12", mcintosh: "18", oranges: "9", pears: "4" },
  { year: "2008", redDelicious: "05", mcintosh: "20", oranges: "8", pears: "2" },
  { year: "2009", redDelicious: "01", mcintosh: "15", oranges: "5", pears: "4" },
  { year: "2010", redDelicious: "02", mcintosh: "10", oranges: "4", pears: "2" },
  { year: "2011", redDelicious: "03", mcintosh: "12", oranges: "6", pears: "3" },
  { year: "2012", redDelicious: "04", mcintosh: "15", oranges: "8", pears: "1" },
  { year: "2013", redDelicious: "06", mcintosh: "11", oranges: "9", pears: "4" },
  { year: "2014", redDelicious: "10", mcintosh: "13", oranges: "9", pears: "5" },
  { year: "2015", redDelicious: "16", mcintosh: "19", oranges: "6", pears: "9" },
  { year: "2016", redDelicious: "19", mcintosh: "17", oranges: "5", pears: "7" },
];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["b33040", "#d25c4d", "#f2b447", "#d9d574"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 
legend.append("rect")
  .attr("x", width - 18)
  .attr("width", 18)
  .attr("height", 18)
  .style("fill", function(d, i) {return colors.slice().reverse()[i];});
 
legend.append("text")
  .attr("x", width + 5)
  .attr("y", 9)
  .attr("dy", ".35em")
  .style("text-anchor", "start")
  .text(function(d, i) { 
    switch (i) {
      case 0: return "Anjou pears";
      case 1: return "Naval oranges";
      case 2: return "McIntosh apples";
      case 3: return "Red Delicious apples";
    }
  });


// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");
});
</script>




<!-- this was here when I (Dylan E.) got here (May 2018). It seems like a bad way of doing things AND it doesn't do anything right now. I will likely delete it very soon, but I am leaving it for now -->
<div class="infoContainer">
 <div class="live">
  <h2>Live Models</h2>
  <div id="liveGraph">
   <svg viewBox="0 0 450 500" width="500" height="450">
    {% comment %}
    <defs>
     can define "point" and other objects here
    </defs>
    {% endcomment %}
    <title>Live Models</title>
    <g class="graph">
     <g class="plot">
      <rect class="background" height="314" width="445" x="0" y="0"></rect>
      <g class="y-axis">
       <g class="guides">
        <path class="line" d="M0 307 h445"></path>
        <text x="-5" y="311">0.0</text>
        <title>0.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 272 h445"></path>
        <text x="-5" y="276">10.0</text>
        <title>10.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 237 h445"></path>
        <text x="-5" y="241">20.0</text>
        <title>20.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 202 h445"></path>
        <text x="-5" y="206">30.0</text>
        <title>30.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 167 h445"></path>
        <text x="-5" y="171">40.0</text>
        <title>40.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 132 h445"></path>
        <text x="-5" y="136">50.0</text>
        <title>50.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 97 h445"></path>
        <text x="-5" y="101">60.0</text>
        <title>60.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 62 h445"></path>
        <text x="-5" y="66">70.0</text>
        <title>70.0</title>
       </g>
       <g class="guides">
        <path class="line" d="M0 27 h445"></path>
        <text x="-5" y="31">80.0</text>
        <title>80.0</title>
       </g>
      </g>
      <g class="x-axis">
       <g class="guides">
        <path class="line" d="M8 0 v314"></path>
        <text x="8" y="329">2005</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M51 0 v314"></path>
        <text x="51" y="329">2006</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M94 0 v314"></path>
        <text x="94" y="329">2007</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M137 0 v314"></path>
        <text x="137" y="329">2008</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M180 0 v314"></path>
        <text x="180" y="329">2009</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M223 0 v314"></path>
        <text x="223" y="329">2010</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M266 0 v314"></path>
        <text x="266" y="329">2011</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M309 0 v314"></path>
        <text x="309" y="329">2012</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M352 0 v314"></path>
        <text x="352" y="329">2013</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M395 0 v314"></path>
        <text x="395" y="329">2014</text>
       </g>
       <g class="guides">
        <path class="guide line" d="M438 0 v314"></path>
        <text x="438" y="329">2006</text>
       </g>
      </g>
     </g>
     <g class="titles">
      <text class="title" x="100" y="20">Live Models</text>
     </g>
     <g class="legends"></g>
    </g>
   </svg>
  </div>
 </div>

 <div class="stats">
  <h2>Experimental Statistics</h2>
  <div class="statsWrapper">
   <div id="liveStats"></div>
   <div class="experimentsWrapper">
    <div id="experimentsStats"></div>
   </div>
  </div>
 </div>
</div>

{% comment %}
<script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.js" ></script>
{% endcomment %}
{% endblock %}
