<html>

	<head>
		<title>
			Dark Reactions Project
		</title>
		
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/database.css" />
	
	</head>
	<body> 

	<!-- OUTSIDE OF PANELS -->
		<!-- USER CONTAINER -->
	<div id="userInfo">
		<div id = "userInfo_inner">
		{% if user.is_authenticated %}
			Hello, {{ user.first_name }}. <br />
			<a id="userLogOut" class="userAuthLink"> (Log Out) </a>
		{% else %}
			Welcome! <br />
			<a id="userLogin" class="userAuthLink popupActivator">Log In</a> 
			/ 
			<a id="registrationPrompt" class="userAuthLink popupActivator">Register</a>
		{% endif %}
		</div>
	</div>
		
		<!-- POPUP CONTAINER -->
	<div id="popupGlobal" >
		<div id="popupContainer"  class="genericContainer">
			<div class="closeButton genericButton">x</div>
			<div id="popupContainer_inner"  class="genericContainer_inner">
			</div>
		</div>
		<div id="mask">
		</div>
	</div>
	
	<!-- DATABASE MENU -->
	<div id="leftPanel">
		<div id="dbMenuContainer" class="genericContainer">
			<div class="dbMenuButton genericButton popupActivator" title="Add new data." style="background-image: url({{ STATIC_URL }}/icons/add.png);"
				id="dbMenu_addNew"> </div>
			<div class="dbMenuButton genericButton" title="Delete selection." style="background-image: url({{ STATIC_URL }}/icons/delete.png);"
				id="dbMenu_delete"></div>
			<div class="dbMenuButton genericButton" title="Duplicate selection." style="background-image: url({{ STATIC_URL }}/icons/duplicate.png);"
				id="dbMenu_duplicate"></div>
			<div class="dbMenuButton genericButton" title="Select page." style="background-image: url({{ STATIC_URL }}/icons/selectPage.png);"
				id="dbMenu_selectPage"></div>
			<div class="dbMenuButton genericButton" title="Select all data." style="background-image: url({{ STATIC_URL }}/icons/selectAll.png);"
				id="dbMenu_selectAll"></div>
			<div class="dbMenuButton genericButton popupActivator" title="Upload CSV to database." style="background-image: url({{ STATIC_URL }}/icons/upload.png);"
				id="dbMenu_uploadCSV"></div>
			<div class="dbMenuButton genericButton popupActivator" title="Download database CSV." style="background-image: url({{ STATIC_URL }}/icons/download.png);"
				id="dbMenu_downloadCSV"></div>
		</div>
	</div>
	
	<!-- NAVIGATION MENU -->
	<div id="rightPanel">
		<div id="topPanel">
			<div id="siteLogo" style="background-image: url({{ STATIC_URL }}/images/mainLogo.png);">
			</div>
			
			<div id="tempGuide" title="Guide: <br/> _____________________________________<br/>
	--Add Data: Click the yellow '+' to the left and fill out the form. <br/>
	--Select Data: Just click on the data to select or use the 'page'/'all' selectors to the left. <br/>
	--Delete Data: Select the data to delete and click the red 'x' to the left. <br/>
	--Duplicate Data: Same as deleting, but click the 'duplicate' button instead.
	--Download CSV: Just click the green 'down' arrow to download all lab data.
	--Edit data: Click on the actual text you want to modify and change it.
	--Change pages: Use the links at the bottom/the 'page jump' button. Give it a moment if it takes a little while. 
	<br/> <br/>
Some Notes: <br/> _____________________________________<br/>
	--Don't try to upload a big CSV (the yellow/orange arrow button) right now.<br/>
	--Deleted data CANNOT be retrieved right now. Be careful with it.<br/>
	--The cute magnifying glass to the right doesn't do anything right now. It will eventually yield a searchy-thing.<br/>
	--If a 'No data found' screen appears instead of data; the data is probably fine. There was just a boo-boo on my end."> <!-- ### -->
	
				Hover Help
			</div>
			
			<div id="navMenu">
				<a href="/database/" class="navLink" >Database</a>
				<a href="http://ironwood.fig.haverford.edu/main.html" class="navLink">Predictions</a>
<!--###
				<a href="/predictions/" class="navLink">Predictions</a>
-->
			</div>
			
			<div id="searchButton" title="Search for a phrase." class="topButton"
			style="background-image: url({{ STATIC_URL }}/icons/search.png);"></div>
			
			<div id="CG_activatorButton" title="Edit the compound guide." class="topButton popupActivator"
			style="background-image: url({{ STATIC_URL }}/icons/compoundGuide.png);"></div>
			
		</div>
		
		<div id="centerPanel">
			<div id="dataContainer" class="genericContainer">
				{% include "data_and_page_container.html" %}
			</div>
		</div>
		
	<div id="bottomPanel">
		<div id="copyrightContainer">
			Haverford College &copy;{% now "Y" %}
		</div>
	</div>
	
	</div>
	
	</body>
	
	<!-- SCRIPTS -->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script> 
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.csrf.js"></script>
	
	<script type="text/javascript">
		//Define the STATIC_URL to be used in the JS files.
		var STATIC_URL = "{{ STATIC_URL }}";
	</script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}/js/clientValidate.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/database.js" ></script>

	
</html>
