{% if user.is_authenticated %}
	{% if data_on_page %}
		{% for entry, entryID in data_on_page %}
			<div class="dataGroup genericContainer_inner" id="g_{{entryID}}">
				<div class="dataIndex" id="i_{{entryID}}">
					{{ entryID }}
				</div>
				<div class="dataEntry" id="d_{{entryID}}">
						<!-- REACTION -->
					<div class="dataField type_reactant 1">{{entry.reactant_1}}</div>
					<div class="dataField type_quantity 1">{{entry.quantity_1}}</div> 
					<div class="dataField type_unit 1">{{entry.unit_1}}</div> 
					<div class="dataField type_reactant 2">{{entry.reactant_2}}</div>
					<div class="dataField type_quantity 2">{{entry.quantity_2}}</div> 
					<div class="dataField type_unit 2">{{entry.unit_2}}</div> 
					<div class="dataField type_reactant 3">{{entry.reactant_3}}</div>
					<div class="dataField type_quantity 3">{{entry.quantity_3}}</div> 
					<div class="dataField type_unit 3">{{entry.unit_3}}</div> 
					<div class="dataField type_reactant 4">{{entry.reactant_4}}</div>
					<div class="dataField type_quantity 4">{{entry.quantity_4}}</div> 
					<div class="dataField type_unit 4">{{entry.unit_4}}</div> 
					<div class="dataField type_reactant 5">{{entry.reactant_5}}</div>
					<div class="dataField type_quantity 5">{{entry.quantity_5}}</div>  
					<div class="dataField type_unit 5">{{entry.unit_5}}</div> <br />
						<!-- VARIABLES -->
					<div class="dataField type_temp">{{entry.temp}}</div>
					<div class="dataField type_time">{{entry.time}}</div>
					<div class="dataField type_pH">{{entry.pH}}</div>
					<div class="dataField type_purity">{{entry.purity}}</div>
					<div class="dataField type_outcome">{{entry.outcome}}</div>
					<div class="dataField type_slow_cool">{{entry.slow_cool}}</div>
					<div class="dataField type_leak">{{entry.leak}}</div>
					<div class="dataField type_ref">{{entry.ref}}</div>
					<div class="dataField type_notes">{{entry.notes}}</div>
					<div class="type_user">{{entry.user}}</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No data is available!</p>
	{% endif %}
{% else %}
	<p>Please log in to see your data.</p>
{% endif %}
