{% if user.is_authenticated %}
 {% if data_on_page %}
  {% for entry, entryID in data_on_page %}
   <div class="dataGroup dataGroup_shape genericContainer_inner copyable 
   {% if not entry.is_valid %}badDataGroup{% endif %}">
    <div class="dataIndex">{{ entryID }}</div>
    <div class="dataSpecificButtonContainer"></div>
    <div class="dataEntry" pid="{{entry.id}}">
      <!-- REACTION -->
     {% include "full_datum.html" %}
    </div>
   </div>
  {% endfor %}
 {% else %}
  <p>No data is available!</p>
 {% endif %}
{% else %}
 <p>Please log in to see your data.</p>
{% endif %}
