{# Actual Data Groups #}
{% if data_on_page %}
	{% for entry, entryID in data_on_page %}
		<div class="data_group" id="g_{{entryID}}">
		<div class="data_index" id="i_{{entryID}}">
			{{ entryID }}</div>
		<div class="data" id="d_{{entryID}}">
<!-- REACTION -->
			<div class="sub_data type_reactant 1">{{entry.reactant_1}}</div>
			<div class="sub_data type_quantity 1">{{entry.quantity_1}}</div> 
			<div class="sub_data type_unit 1">{{entry.unit_1}}</div> 
			<div class="sub_data type_reactant 2">{{entry.reactant_2}}</div>
			<div class="sub_data type_quantity 2">{{entry.quantity_2}}</div> 
			<div class="sub_data type_unit 2">{{entry.unit_2}}</div> 
			<div class="sub_data type_reactant 3">{{entry.reactant_3}}</div>
			<div class="sub_data type_quantity 3">{{entry.quantity_3}}</div> 
			<div class="sub_data type_unit 3">{{entry.unit_3}}</div> 
			<div class="sub_data type_reactant 4">{{entry.reactant_4}}</div>
			<div class="sub_data type_quantity 4">{{entry.quantity_4}}</div> 
			<div class="sub_data type_unit 4">{{entry.unit_4}}</div> 
			<div class="sub_data type_reactant 5">{{entry.reactant_5}}</div>
			<div class="sub_data type_quantity 5">{{entry.quantity_5}}</div>  
			<div class="sub_data type_unit 5">{{entry.unit_5}}</div> <br />
<!-- VARIABLES -->
			<div class="sub_data type_temp">{{entry.temp}}</div>
			<div class="sub_data type_time">{{entry.time}}</div>
			<div class="sub_data type_pH">{{entry.pH}}</div>
			<div class="sub_data type_purity">{{entry.purity}}</div>
			<div class="sub_data type_outcome">{{entry.outcome}}</div>
			<div class="sub_data type_slow_cool">{{entry.slow_cool}}</div>
			<div class="sub_data type_leak">{{entry.leak}}</div>
			<div class="sub_data type_ref">{{entry.ref}}</div>
			<div class="sub_data type_notes">{{entry.notes}}</div>
			<div class="type_user">{{entry.user}}</div>
		</div>
		</div>
	{% endfor %}
{% else %}
	<div id="emptyDataMessage">Django says no data is present yet!</div>
{% endif %}

{# Page Links and Numbering #}
<div id="pageLink_container">
	Page <div id="current_page">{{page_package.current_page}}</div> of 
	<div id="total_pages" total_data_size="{{total_data_size}}"
	data_per_page="{{page_package.data_per_page}}">{{page_package.total_pages}}</div>
	( {% for page in page_package.pageLinks %}
		<a class="pageLink {% if page == page_package.current_page %}
		 pageLinkCurrent {% endif %}
		">{{page}} </a>
	{% endfor %} )
	<br /> Page Jump:
	<input id="page_change_text" type="text" />
	<input id="page_change_button" type="button" value="Go!"/>
</div>
