<div class="dataManipulationButton genericButton popupActivator" title="Add new data." style="background-image: url({{ STATIC_URL }}icons/add.png);" id="leftMenu_addNew"> </div>
<div class="dataManipulationButton genericButton" title="Delete selection." style="background-image: url({{ STATIC_URL }}icons/delete.png);" id="leftMenu_delete"></div>
<div class="dataManipulationButton genericButton" title="Select page." style="background-image: url({{ STATIC_URL }}icons/selectPage.png);" id="leftMenu_selectPage"></div>
<div class="dataManipulationButton genericButton popupActivator" title="Upload CSV to database." style="background-image: url({{ STATIC_URL }}icons/upload.png);" id="leftMenu_uploadCSV"></div>
<div class="dataManipulationButton genericButton popupActivator" title="Download database CSV." style="background-image: url({{ STATIC_URL }}icons/download.png);" id="leftMenu_downloadCSV"></div>
<div id="searchButton" title="Search for a phrase." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/search.png);"></div>
<div id="CG_activatorButton" title="Edit the compound guide." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/compoundGuide.png);"></div>
