<div class="dataManipulationButton popupActivator" title="Add new data." style="background-image: url({{ STATIC_URL }}icons/add.png);" id="leftMenu_addNew"> </div>

<div class="dataManipulationButton" title="Delete selection." style="background-image: url({{ STATIC_URL }}icons/delete.png);" id="leftMenu_delete"></div>

<div class="dataManipulationButton" title="Select page." style="background-image: url({{ STATIC_URL }}icons/selectPage.png);" id="leftMenu_selectPage"></div>

{% if formatting.allow_uploads == True %}
<div class="dataManipulationButton popupActivator" title="Upload CSV to database." style="background-image: url({{ STATIC_URL }}icons/upload.png);" id="leftMenu_upload_data"></div>
{% endif %}

<div class="dataManipulationButton popupActivator" title="Download saved reactions." style="background-image: url({{ STATIC_URL }}icons/download.png);" id="leftMenu_download_data"></div>

<div id="searchButton" title="Search for a phrase." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/search.png);"></div>

<div id="CompoundGuide" title="Edit the compound guide." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/compoundGuide.png);"></div>

{% if formatting.recommendations == True %}
<a href="/recommend/?show_hidden=True">
<div title="View hidden recommendations." class="dataManipulationButton" style="background-image: url({{ STATIC_URL }}icons/show.png);"></div>
</a>
{% endif %}
