<html>

	<head>
		<title>
			Dark Reactions Project
		</title>
		
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/database.css" />
	
	</head>
	<body> 

	<!-- OUTSIDE OF PANELS -->
		<!-- USER CONTAINER -->
	<div id="userInfo">
		<div id = "userInfo_inner">
		{% if user.is_authenticated %}
			Hello, {{ user.first_name }}. <br />
			<a id="userLogOut" class="userAuthLink"> (Log Out) </a>
		{% else %}
			Welcome! <br />
			<a id="userLogin" class="userAuthLink popupActivator">Log In</a> 
			/ 
			<a id="registrationPrompt" class="userAuthLink popupActivator">Register</a>
		{% endif %}
		</div>
	</div>
		
		<!-- POPUP CONTAINER -->
	<div id="popupGlobal" >
		<div id="popupContainer"  class="genericContainer">
			<div class="closeButton genericButton">x</div>
			<div id="popupContainer_inner"  class="genericContainer_inner">
			</div>
		</div>
		<div id="mask">
		</div>
	</div>
	
	<!-- DATABASE MENU -->
	<div id="leftPanel">
		<div id="dbMenuContainer" class="genericContainer">
			<div class="dbMenuButton genericButton popupActivator" title="Add new data." style="background-image: url({{ STATIC_URL }}/icons/add.png);"
				id="dbMenu_addNew"> </div>
			<div class="dbMenuButton genericButton" title="Delete selection." style="background-image: url({{ STATIC_URL }}/icons/delete.png);"
				id="dbMenu_delete"></div>
			<div class="dbMenuButton genericButton" title="Duplicate selection." style="background-image: url({{ STATIC_URL }}/icons/duplicate.png);"
				id="dbMenu_duplicate"></div>
			<div class="dbMenuButton genericButton" title="Select page." style="background-image: url({{ STATIC_URL }}/icons/selectPage.png);"
				id="dbMenu_selectPage"></div>
			<div class="dbMenuButton genericButton" title="Select all data." style="background-image: url({{ STATIC_URL }}/icons/selectAll.png);"
				id="dbMenu_selectAll"></div>
			<div class="dbMenuButton genericButton popupActivator" title="Upload CSV to database." style="background-image: url({{ STATIC_URL }}/icons/upload.png);"
				id="dbMenu_uploadCSV"></div>
			<div class="dbMenuButton genericButton popupActivator" title="Download database CSV." style="background-image: url({{ STATIC_URL }}/icons/download.png);"
				id="dbMenu_downloadCSV"></div>
		</div>
	</div>
	
	<!-- NAVIGATION MENU -->
	<div id="rightPanel">
		<div id="topPanel">
			<div id="siteLogo" style="background-image: url({{ STATIC_URL }}/images/mainLogo.png);">
			</div>
			
			<div id="navMenu">
				<a href="/database/" class="navLink" >Database</a>
				<a href="http://ironwood.fig.haverford.edu/main.html" class="navLink">Predictions</a>
<!--###
				<a href="/predictions/" class="navLink">Predictions</a>
-->
			</div>
			
			<div id="searchButton" title="Search for a phrase." style="background-image: url({{ STATIC_URL }}/icons/search.png);"
				id="dbMenu_selectPage"></div>
		</div>
		
		<div id="centerPanel">
			<div id="dataContainer" class="genericContainer">
				{% include "data_and_page_container.html" %}
			</div>
		</div>
		
	<div id="bottomPanel">
		<div id="copyrightContainer">
			Haverford College &copy;{% now "Y" %}
		</div>
	</div>
	
	</div>
	
	</body>
	
	<!-- SCRIPTS -->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script> 
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.csrf.js"></script>
	
	<script type="text/javascript">
		//Define the STATIC_URL to be used in the JS files.
		var STATIC_URL = "{{ STATIC_URL }}";
	</script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}/js/clientValidate.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/database.js" ></script>

	
</html>
