<h1>Download {{verbose_model}}:</h1>
<form id="CSVForm" method="POST" enctype="multipart/form-data" action="/download_data/" class="popupScreenForm downloadForm">
 {% csrf_token %}

 <input type="hidden" name="model" value="{{model}}">

 {% if allow_filters %}
 <div class="radioContainer">
 Use the current search filters?
 <input id="radio_yes_filters" type="radio" name="use_filters" value="True" checked>
  <label class="button radioLabel" for="radio_yes_filters" >Yes</label>
 </input>
 <input id="radio_no_filters" type="radio" name="use_filters" value="False">
  <label class="button radioLabel" for="radio_no_filters">No</label>
 </input>
 </div>
 
 <input type="hidden" name="filters" value="">
 {% endif %}

 {% if user.is_authenticated %}
  <input type="submit" value="Download" class="button"/>
 {% else %}
  <p> Please sign in to download data. </p>
 {% endif %}
</form>
