	<!-- Reaction -->
<div class="dataField type_reactant 1 editable" editAs="text">{{reactant.0}}</div>
<div class="dataField type_quantity 1 editable" editAs="text">{{quantity.0}}</div> 
<div class="dataField type.unit 1 editable" editAs="select">{{unit.0}}</div> 
<div class="dataField type_reactant 2 editable" editAs="text">{{reactant.1}}</div>
<div class="dataField type_quantity 2 editable" editAs="text">{{quantity.1}}</div> 
<div class="dataField type_unit 2 editable" editAs="select">{{unit.1}}</div> 
<div class="dataField type_reactant 3 editable" editAs="text">{{reactant.2}}</div>
<div class="dataField type_quantity 3 editable" editAs="text">{{quantity.2}}</div> 
<div class="dataField type_unit 3 editable" editAs="select">{{unit.2}}</div> 
<div class="dataField type_reactant 4 editable" editAs="text">{{reactant.3}}</div>
<div class="dataField type_quantity 4 editable" editAs="text">{{quantity.3}}</div> 
<div class="dataField type_unit 4 editable" editAs="select">{{unit.3}}</div> 
<div class="dataField type_reactant 5 editable" editAs="text">{{reactant.4}}</div>
<div class="dataField type_quantity 5 editable" editAs="text">{{quantity.4}}</div>  
<div class="dataField type_unit 5 editable" editAs="select">{{unit.4}}</div> <br />
	<!-- Variables -->
<div class="dataField type_temp editable" editAs="text">{{entry.temp}}</div>
<div class="dataField type_time editable" editAs="text">{{entry.time}}</div>
<div class="dataField type_pH editable" editAs="text">{{entry.pH}}</div>
<div class="dataField type_purity editable" editAs="select">{{entry.purity}}</div>
<div class="dataField type_outcome editable" editAs="select">{{entry.outcome}}</div>
<div class="dataField type_slow_cool editable" editAs="select">{{entry.slow_cool}}</div>
<div class="dataField type_leak editable" editAs="select">{{entry.leak}}</div>
<div class="dataField type_ref editable" editAs="text">{{entry.ref}}</div>
<div class="dataField type_notes editable" editAs="text">{{entry.notes}}</div>
<div class="type_user">{{entry.user}}</div>
