<html>

 <head>
  <title>
   Dark Reaction Project
  </title>

 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/universal.css" />
 {% with template|add:".css" as css_name %}
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{{ css_name }}" />
 {% endwith %}

 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataManipulationMenu.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/textFormatting.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/containers.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/infoForm.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reactionForm.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/popups.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reactions.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/editable.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/buttons.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/errors.css" />
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/periodicTable.css" />

 <meta name="viewport" content="width=device-width, initial-scale=1">

 </head>

<body>

  {% include "popupContainer.html" %}

  <div id="mainContainer">

    <div id="topPanel">

      {% include "main_logo.html" %}
      {% include "main_menu.html" %}

      <!-- Buttons used to manipulate the data presented on this page. -->
      <div id="dataManipulationMenu">
        {% include template|add:"_menu.html" %}
      </div>

      {% include "user_control_container.html" %}

    </div>

    <div id="centerPanel">

      <div id="sidePanel">
        <div id="sidePanel_inner"></div>
      </div>

      <div id="mainPanel">
        {% include template|add:".html" %}
      </div>

    </div>

  </div>

</body>

 <!-- SCRIPTS -->
<!-- For production...
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
-->
<!-- For development without internet... -->
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>

 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.csrf.js"></script>

 <script type="text/javascript">
  //Define the STATIC_URL if needed in the JS files.
  var STATIC_URL = "{{ STATIC_URL }}";
 </script>

 <script type="text/javascript" src="{{ STATIC_URL }}js/clientValidate.js" ></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/showRibbon.js" ></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/universal.js" ></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/pages.js" ></script>

 {% with template|add:".js" as js_name %}
 <script type="text/javascript" src="{{ STATIC_URL }}js/{{ js_name }}" ></script>
 {% endwith %}

</html>
