{% extends "base.html" %}
{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}/css/home.css" />
{% endblock %}
{% block content %}
<!-- '2240b1ff-895c-458f-adf2-d04d85a164d1' --> 
<aside class="bannerText">
  Our goal is to help chemists collect <em class='highlightText'>better</em> data in a more <em class='highlightText'>efficient</em> way.
</aside>
<p>
Most Chemical reactions that are performed are never reported because they are deemed "unsuccessful". Normally this is because they do not yield sufficient (or any) product, or do not do so to a required level of purity. Nevertheless, such data are important because they define bounds on the space of successful reactions. Moreover, they are important to the understanding of the physical parameters that govern those chemical reactions. This project seeks to use historical synthesis data to train machine learning models in order to make better hypotheses and predictions about the success of reactions ahead of time.
</p>
{% endblock %}
