<html>

 <head>
  <title>
   Dark Reaction Project
  </title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/universal.css" />
 </head>

<body>
 {% include "popupContainer.html" %}

<div id="mainContainer">
<div id="topPanel">
 <div id="logoContainer">{% include "main_logo.html" %}</div>

 {% include "info_menu.html" %}

 <!-- Buttons used to manipulate the data presented on this page. -->
 <div id="dataManipulationMenu">
 </div>
 {% include "user_control_container.html" %}
</div>

<div id="infoPanel">
 <div id="mainPanel">
  <div class="infoContainer">
  {% include template|add:".html" %}
  </div>
 </div>
 <div id="sidePanel"><div id="sidePanel_inner"></div></div>
</div>

<div id="bottomPanel">
 <!-- COPYRIGHT -->
 {% include "copyright.html" %}
</div>

</div>
</div>

 </body>

 <!-- SCRIPTS -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.csrf.js"></script>

 <script type="text/javascript">
  //Define the STATIC_URL if needed in the JS files.
  var STATIC_URL = "{{ STATIC_URL }}";
 </script>

 <script type="text/javascript" src="{{ STATIC_URL }}js/clientValidate.js" ></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/universal.js" ></script>

</html>
