<div id="navigationMenu">
 <a href="/home/" class="navLink{% if template == "home"%} currentTitle{%endif%}" title="The basics of the Project.">Home</a>
 <a href="/database/" class="navLink{% if template == "database"%} currentTitle{%endif%}" title="Enter the Dark Reaction Project.">Project</a>
 <!--<a href="/papers/" class="navLink{% if template == "papers"%} currentTitle{%endif%}" title="Info on publications.".>Papers</a>-->
 <a href="/about/" class="navLink{% if template == "about"%} currentTitle{%endif%}" title="More info about the Project.">About</a>
 <a href="/contact/" class="navLink{% if template == "contact"%} currentTitle{%endif%}" title="Send a bug report, comment, or complaint.">Contact</a>
</div>
