{% if form.errors %}
 <div class="subPopup">
  <div class="closeButton genericButton">x</div>
   <h1>Errors:</h1>
  {% for field in form %}
  {% if field.errors %}
   <div class="error">
    <div class="error_label">{{ field.label_tag }}</div>
    <div class="error_message">{{ field.errors.as_text }}</div>
   </div> 
  {% endif %}
  {% endfor %}
 </div>
{% endif %}

<h1>Lab Register</h1>
<form action="/lab_registration/" method="post" name="lab_registration" class="popupScreenForm infoForm">
 {% csrf_token %}
 {% for field in form %}
  <div class="formField">{{field.label_tag}}: {{field}}</div>
 {% endfor %}
  <input type="submit" value="Register" class="form_button"/>
</form>

