<div id="dataContainer_inner" class="genericContainer_inner_rec">
The number on the left signifies how sure we are that the reaction to the right will be successful!
{% for recommendation in recommendations %}
 <div class="recommendation">
 {{ forloop.counter }}.) <div class="recommended_score">{{ recommendation.0|truncatechars:8 }}</div>
 {% for reaction in recommendation.1 %}
 <div class="recommended_reactant">
  {{ reaction.0 }} 
 </div>
 <div class="recommended_mass">({{reaction.1}} {{reaction.2}})</div>
 {% if not forloop.last %}
 +
 {% endif %}
 {% endfor %}
 
 <div class="recommended_info">
 {% for info in recommendation.2 %}
  <div class="recommended_heading">{{ info.0 }}:</div>{{ info.1 }}
 {% endfor %}
 </div>
 
 </div>
{% endfor %}
</div>
