<div id="dataContainer_inner" class="genericContainer_inner_rec">

{% for recommendation in recommendations %}
<div class="recommendation">
{{ forloop.counter }}.)
 {% for reactant in recommendation.reaction %}
 <div class="recommended_reactant">
  {{ reactant.0 }} 
 </div>
 <div class="recommended_mass">({{reactant.1}} {{reaction.2}})</div>
 {% if not forloop.last %}
 +
 {% endif %}
 {% endfor %}
 
 <div class="recommended_info">
 {% for datum in recommendation.info %}
  <div class="recommended_heading">{{ datum.0 }}</div>{{ datum.1 }}
 {% endfor %}
 </div>
 
 </div>
{% endfor %}
</div>
