{% if not user.is_authenticated %}
<div class='bannerText'>
  Log In
</div>

<div class='infoFormContainer'>
  {% if login_fail %}
    <br/>
    <div class="error">
    Invalid login credentials!
    </div>
  {% endif %}

  <form action="/user_login/" method="post" name="login" class="popupScreenForm infoForm">
  {% csrf_token %}

    <label for="username">Username:
      <input type="text" name="username" value="" id="id_username" autofocus="autofocus">
    </label>

    <label for="password">Password:
      <input type="password" name="password" value="" id="id_password">
    </label>

    <div id="changePassword" class="popupActivator">Change Password</div>

    <input type="submit" value="Log In" class="button"/>

  </form>
</div>

{% else %}
<div class=reloadImmediately redirect="/database/"></div>

{% endif %}
