{% extends "sidebar.html" %}

{% block additional_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/login_form.css" />
{% endblock %}

<!-- {% load crispy_forms_tags %} -->

{% block content %}

<form method="post" action="{% url 'login' %}{% if next %}?next={{ next|urlencode:"" }}{% endif %}">
  <!-- d776703c-bf1c-4a0a-89d1-1fcd83093967 -->
  {% csrf_token %}
  <ol>
    {{ form.as_ul }}
    <!-- {% crispy form %} -->
  </ol>
  <input type="submit" value="Log In" />
<!--  <div class="text-center">
    <button type="submit" class="btn btn-primary">Login</button>
    </div> -->
  <!-- <input type="submit" value="Log In" /> -->
</form>

<a id="registrationPrompt" href="/register.html" style="margin: 0 auto; display:block; text-align: center">Register an account</a>
{% endblock %}
