
{% load is_number %}

<div id="pageContainer">

  {% if user.is_authenticated and data %}

    <span id="pagesTotal" total_data_size="{{total_data_size}}">
    {{total_pages}}
    </span>

    {% for page in page_links %}
      {% if page|is_number %}
        <a class="pagesInfo"
        {% if page == current_page %}
          id="pageLinkCurrent"
        {% endif %}
        href='/{{model}}/{{page}}/{{query}}'>

        {{page}}

        </a>
      {% else %}
        {{ page }}

      {% endif %}
    {% endfor %}

  {% endif %}

</div>
