<table id="periodicTable">
<tr>
 <!--<td class="PT_element PT_hydrogen genericButton">H</td>
 <td colspan=16>-->
 <td colspan=17>
 <td class="PT_element PT_nobleGas genericButton" title="Helium">He</td>
<tr>
 <td class="PT_element PT_alkaliMetal genericButton" title="Lithium">Li</td>
 <td class="PT_element PT_alkaliEarth genericButton" title="Beryllium">Be</td>
 <td colspan=10>
 <td class="PT_element PT_nonMetal genericButton" title="Boron">B</td>
 <td class="PT_element PT_nonMetal genericButton" title="Carbon">C</td>
 <td class="PT_element PT_nonMetal genericButton" title="Nitrogen">N</td>
 <td class="PT_element PT_nonMetal genericButton" title="Oxygen">O</td>
 <td class="PT_element PT_nonMetal genericButton" title="Fluorine">F</td>
 <td class="PT_element PT_nobleGas genericButton" title="Nitrogen">Ne</td>
<tr>
 <td class="PT_element PT_alkaliMetal genericButton" title="Sodium">Na</td>
 <td class="PT_element PT_alkaliEarth genericButton" title="Magnesium">Mg</td>
 <td colspan=10>
 <td class="PT_element PT_poorMetal genericButton" title="Aluminum">Al</td>
 <td class="PT_element PT_nonMetal genericButton" title="Silicon">Si</td>
 <td class="PT_element PT_nonMetal genericButton" title="Phosphorus">P</td>
 <td class="PT_element PT_nonMetal genericButton" title="Sulfur">S</td>
 <td class="PT_element PT_nonMetal genericButton" title="Chlorine">Cl</td>
 <td class="PT_element PT_nobleGas genericButton" title="Argon">Ar</td>
<tr>
 <td class="PT_element PT_alkaliMetal genericButton" title="Potassium">K</td>
 <td class="PT_element PT_alkaliEarth genericButton" title="Calcium">Ca</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Scandium">Sc</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Titanium">Ti</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Vanadium">V</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Chromium">Cr</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Manganese">Mn</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Iron">Fe</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Cobalt">Co</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Nickel">Ni</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Copper">Cu</td>
 <td class="PT_element PT_poorMetal genericButton" title="Zinc">Zn</td>
 <td class="PT_element PT_poorMetal genericButton" title="Gallium">Ga</td>
 <td class="PT_element PT_poorMetal genericButton" title="Germanium">Ge</td>
 <td class="PT_element PT_nonMetal genericButton" title="Arsenic">As</td>
 <td class="PT_element PT_nonMetal genericButton" title="Selenium">Se</td>
 <td class="PT_element PT_nonMetal genericButton" title="Bromium">Br</td>
 <td class="PT_element PT_nobleGas genericButton" title="Krypton">Kr</td>
<tr>
 <td class="PT_element PT_alkaliMetal genericButton" title="Rubidium">Rb</td>
 <td class="PT_element PT_alkaliEarth genericButton" title="Strontium">Sr</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Yttrium">Y</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Zirconium">Zr</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Niobium">Nb</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Molybdenum">Mo</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Technetium">Tc</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Ruthenium">Ru</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Rhodium">Rh</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Palladium">Pd</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Silver">Ag</td>
 <td class="PT_element PT_poorMetal genericButton" title="Cadmium">Cd</td>
 <td class="PT_element PT_poorMetal genericButton" title="Indium">In</td>
 <td class="PT_element PT_poorMetal genericButton" title="Selenium">Sn</td>
 <td class="PT_element PT_poorMetal genericButton" title="Antimony">Sb</td>
 <td class="PT_element PT_nonMetal genericButton" title="Tellurium">Te</td>
 <td class="PT_element PT_nonMetal genericButton" title="Iodine">I</td>
 <td class="PT_element PT_nobleGas genericButton" title="Xenon">Xe</td>
<tr>
 <td class="PT_element PT_alkaliMetal genericButton" title="Cesium">Cs</td>
 <td class="PT_element PT_alkaliEarth genericButton" title="Barium">Ba</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Lutetium">Lu</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Hafnium">Hf</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Tantalum">Ta</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Tungsten">W</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Rhenium">Re</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Osmium">Os</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Iridium">Ir</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Platinum">Pt</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Gold">Au</td>
 <td class="PT_element PT_poorMetal genericButton" title="Mercury">Hg</td>
 <td class="PT_element PT_poorMetal genericButton" title="Thallium">Tl</td>
 <td class="PT_element PT_poorMetal genericButton" title="Lead">Pb</td>
 <td class="PT_element PT_poorMetal genericButton" title="Bismuth">Bi</td>
 <td class="PT_element PT_poorMetal genericButton" title="Polonium">Po</td>
 <td class="PT_element PT_nonMetal genericButton" title="Astatine">At</td>
 <td class="PT_element PT_nobleGas genericButton" title="Radon">Rn</td>
<tr>
 <td class="PT_element PT_alkaliMetal genericButton" title="Francium">Fr</td>
 <td class="PT_element PT_alkaliEarth genericButton" title="Radium">Ra</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Lawrencium">Lr</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Rutherfordium">Rf</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Dubnium">Db</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Seaborgium">Sg</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Bohrium">Bh</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Hassium">Hs</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Meitnerium">Mt</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Darmstadtium">Ds</td>
 <td class="PT_element PT_transitionMetal genericButton" title="Roentgenium">Rg</td>
 <td class="PT_element PT_poorMetal genericButton" title="Copernicium">Cn</td>
 <td class="PT_element PT_poorMetal genericButton" title="Ununtrium">Uut</td>
 <td class="PT_element PT_poorMetal genericButton" title="Flerovium">Fl</td>
 <td class="PT_element PT_poorMetal genericButton" title="Ununpentium">Uup</td>
 <td class="PT_element PT_poorMetal genericButton" title="Livermorium">Lv</td>
</tr>
<tr>
<td colspan=2></td>
<td colspan=16 class="PT_spacer"></td>
</tr>
<tr>
 <td colspan=2></td>
 <td class="PT_element PT_lanthanide genericButton" title="Lanthanum">La</td>
 <td class="PT_element PT_lanthanide genericButton" title="Cerium">Ce</td>
 <td class="PT_element PT_lanthanide genericButton" title="Praseodymium">Pr</td>
 <td class="PT_element PT_lanthanide genericButton" title="Neodymium">Nd</td>
 <td class="PT_element PT_lanthanide genericButton" title="Promethium">Pm</td>
 <td class="PT_element PT_lanthanide genericButton" title="Samarium">Sm</td>
 <td class="PT_element PT_lanthanide genericButton" title="Europium">Eu</td>
 <td class="PT_element PT_lanthanide genericButton" title="Gadolinium">Gd</td>
 <td class="PT_element PT_lanthanide genericButton" title="Terbium">Tb</td>
 <td class="PT_element PT_lanthanide genericButton" title="Dysprosium">Dy</td>
 <td class="PT_element PT_lanthanide genericButton" title="Holmium">Ho</td>
 <td class="PT_element PT_lanthanide genericButton" title="Erbium">Er</td>
 <td class="PT_element PT_lanthanide genericButton" title="Thulium">Tm</td>
 <td class="PT_element PT_lanthanide genericButton" title="Ytterbium">Yb</td>
 <td colspan=2></td>
</tr>
<tr>
 <td colspan=2></td>
 <td class="PT_element PT_actinide genericButton" title="Actinium">Ac</td>
 <td class="PT_element PT_actinide genericButton" title="Thorium">Th</td>
 <td class="PT_element PT_actinide genericButton" title="Protactinium">Pa</td>
 <td class="PT_element PT_actinide genericButton" title="Uranium">U</td>
 <td class="PT_element PT_actinide genericButton" title="Neptunium">Np</td>
 <td class="PT_element PT_actinide genericButton" title="Plutonium">Pu</td>
 <td class="PT_element PT_actinide genericButton" title="Americium">Am</td>
 <td class="PT_element PT_actinide genericButton" title="Curium">Cm</td>
 <td class="PT_element PT_actinide genericButton" title="Berkelium">Bk</td>
 <td class="PT_element PT_actinide genericButton" title="Californium">Cf</td>
 <td class="PT_element PT_actinide genericButton" title="Einsteinium">Es</td>
 <td class="PT_element PT_actinide genericButton" title="Fermium">Fm</td>
 <td class="PT_element PT_actinide genericButton" title="Mendelevium">Md</td>
 <td class="PT_element PT_actinide genericButton" title="Nobelium">No</td>
 <td colspan=2></td>
</tr>
</table>
