<table id="periodicTable">
<tr>
	<!--<td class="PT_element PT_hydrogen genericButton">H</td>
	<td colspan=16>-->
	<td colspan=17>
	<td class="PT_element PT_nobleGas genericButton">He</td>
<tr>
	<td class="PT_element PT_alkaliMetal genericButton">Li</td>
	<td class="PT_element PT_alkaliEarth genericButton">Be</td>
	<td colspan=10>
	<td class="PT_element PT_nonMetal genericButton">B</td>
	<td class="PT_element PT_nonMetal genericButton">C</td>
	<td class="PT_element PT_nonMetal genericButton">N</td>
	<td class="PT_element PT_nonMetal genericButton">O</td>
	<td class="PT_element PT_nonMetal genericButton">F</td>
	<td class="PT_element PT_nobleGas genericButton">Ne</td>
<tr>
	<td class="PT_element PT_alkaliMetal genericButton">Na</td>
	<td class="PT_element PT_alkaliEarth genericButton">Mg</td>
	<td colspan=10>
	<td class="PT_element PT_poorMetal genericButton">Al</td>
	<td class="PT_element PT_nonMetal genericButton">Si</td>
	<td class="PT_element PT_nonMetal genericButton">P</td>
	<td class="PT_element PT_nonMetal genericButton">S</td>
	<td class="PT_element PT_nonMetal genericButton">Cl</td>
	<td class="PT_element PT_nobleGas genericButton">Ar</td>
<tr>
	<td class="PT_element PT_alkaliMetal genericButton">K</td>
	<td class="PT_element PT_alkaliEarth genericButton">Ca</td>
	<td class="PT_element PT_transitionMetal genericButton">Sc</td>
	<td class="PT_element PT_transitionMetal genericButton">Ti</td>
	<td class="PT_element PT_transitionMetal genericButton">V</td>
	<td class="PT_element PT_transitionMetal genericButton">Cr</td>
	<td class="PT_element PT_transitionMetal genericButton">Mn</td>
	<td class="PT_element PT_transitionMetal genericButton">Fe</td>
	<td class="PT_element PT_transitionMetal genericButton">Co</td>
	<td class="PT_element PT_transitionMetal genericButton">Ni</td>
	<td class="PT_element PT_transitionMetal genericButton">Cu</td>
	<td class="PT_element PT_poorMetal genericButton">Zn</td>
	<td class="PT_element PT_poorMetal genericButton">Ga</td>
	<td class="PT_element PT_poorMetal genericButton">Ge</td>
	<td class="PT_element PT_nonMetal genericButton">As</td>
	<td class="PT_element PT_nonMetal genericButton">Se</td>
	<td class="PT_element PT_nonMetal genericButton">Br</td>
	<td class="PT_element PT_nobleGas genericButton">Kr</td>
<tr>
	<td class="PT_element PT_alkaliMetal genericButton">Rb</td>
	<td class="PT_element PT_alkaliEarth genericButton">Sr</td>
	<td class="PT_element PT_transitionMetal genericButton">Y</td>
	<td class="PT_element PT_transitionMetal genericButton">Zr</td>
	<td class="PT_element PT_transitionMetal genericButton">Nb</td>
	<td class="PT_element PT_transitionMetal genericButton">Mo</td>
	<td class="PT_element PT_transitionMetal genericButton">Tc</td>
	<td class="PT_element PT_transitionMetal genericButton">Ru</td>
	<td class="PT_element PT_transitionMetal genericButton">Rh</td>
	<td class="PT_element PT_transitionMetal genericButton">Pd</td>
	<td class="PT_element PT_transitionMetal genericButton">Ag</td>
	<td class="PT_element PT_poorMetal genericButton">Cd</td>
	<td class="PT_element PT_poorMetal genericButton">In</td>
	<td class="PT_element PT_poorMetal genericButton">Sn</td>
	<td class="PT_element PT_poorMetal genericButton">Sb</td>
	<td class="PT_element PT_nonMetal genericButton">Te</td>
	<td class="PT_element PT_nonMetal genericButton">I</td>
	<td class="PT_element PT_nobleGas genericButton">Xe</td>
<tr>
	<td class="PT_element PT_alkaliMetal genericButton">Cs</td>
	<td class="PT_element PT_alkaliEarth genericButton">Ba</td>
	<td class="PT_element PT_transitionMetal genericButton">Lu</td>
	<td class="PT_element PT_transitionMetal genericButton">Hf</td>
	<td class="PT_element PT_transitionMetal genericButton">Ta</td>
	<td class="PT_element PT_transitionMetal genericButton">W</td>
	<td class="PT_element PT_transitionMetal genericButton">Re</td>
	<td class="PT_element PT_transitionMetal genericButton">Os</td>
	<td class="PT_element PT_transitionMetal genericButton">Ir</td>
	<td class="PT_element PT_transitionMetal genericButton">Pt</td>
	<td class="PT_element PT_transitionMetal genericButton">Au</td>
	<td class="PT_element PT_poorMetal genericButton">Hg</td>
	<td class="PT_element PT_poorMetal genericButton">Tl</td>
	<td class="PT_element PT_poorMetal genericButton">Pb</td>
	<td class="PT_element PT_poorMetal genericButton">Bi</td>
	<td class="PT_element PT_poorMetal genericButton">Po</td>
	<td class="PT_element PT_nonMetal genericButton">At</td>
	<td class="PT_element PT_nobleGas genericButton">Rn</td>
<tr>
	<td class="PT_element PT_alkaliMetal genericButton">Fr</td>
	<td class="PT_element PT_alkaliEarth genericButton">Ra</td>
	<td class="PT_element PT_transitionMetal genericButton">Lr</td>
	<td class="PT_element PT_transitionMetal genericButton">Rf</td>
	<td class="PT_element PT_transitionMetal genericButton">Db</td>
	<td class="PT_element PT_transitionMetal genericButton">Sg</td>
	<td class="PT_element PT_transitionMetal genericButton">Bh</td>
	<td class="PT_element PT_transitionMetal genericButton">Hs</td>
	<td class="PT_element PT_transitionMetal genericButton">Mt</td>
	<td class="PT_element PT_transitionMetal genericButton">Ds</td>
	<td class="PT_element PT_transitionMetal genericButton">Rg</td>
	<td class="PT_element PT_poorMetal genericButton">Uub</td>
	<td class="PT_element PT_poorMetal genericButton">Uut</td>
	<td class="PT_element PT_poorMetal genericButton">Uuq</td>
	<td class="PT_element PT_poorMetal genericButton">Uup</td>
	<td class="PT_element PT_poorMetal genericButton">Uuh</td>
</tr>
<tr>
<td colspan=2></td>
<td colspan=16 class="PT_spacer"></td>
</tr>
<tr>
	<td colspan=2></td>
	<td class="PT_element PT_lanthanide genericButton">La</td>
	<td class="PT_element PT_lanthanide genericButton">Ce</td>
	<td class="PT_element PT_lanthanide genericButton">Pr</td>
	<td class="PT_element PT_lanthanide genericButton">Nd</td>
	<td class="PT_element PT_lanthanide genericButton">Pm</td>
	<td class="PT_element PT_lanthanide genericButton">Sm</td>
	<td class="PT_element PT_lanthanide genericButton">Eu</td>
	<td class="PT_element PT_lanthanide genericButton">Gd</td>
	<td class="PT_element PT_lanthanide genericButton">Tb</td>
	<td class="PT_element PT_lanthanide genericButton">Dy</td>
	<td class="PT_element PT_lanthanide genericButton">Ho</td>
	<td class="PT_element PT_lanthanide genericButton">Er</td>
	<td class="PT_element PT_lanthanide genericButton">Tm</td>
	<td class="PT_element PT_lanthanide genericButton">Yb</td>
	<td colspan=2></td>
</tr>
<tr>
	<td colspan=2></td>
	<td class="PT_element PT_actinide genericButton">Ac</td>
	<td class="PT_element PT_actinide genericButton">Th</td>
	<td class="PT_element PT_actinide genericButton">Pa</td>
	<td class="PT_element PT_actinide genericButton">U</td>
	<td class="PT_element PT_actinide genericButton">Np</td>
	<td class="PT_element PT_actinide genericButton">Pu</td>
	<td class="PT_element PT_actinide genericButton">Am</td>
	<td class="PT_element PT_actinide genericButton">Cm</td>
	<td class="PT_element PT_actinide genericButton">Bk</td>
	<td class="PT_element PT_actinide genericButton">Cf</td>
	<td class="PT_element PT_actinide genericButton">Es</td>
	<td class="PT_element PT_actinide genericButton">Fm</td>
	<td class="PT_element PT_actinide genericButton">Md</td>
	<td class="PT_element PT_actinide genericButton">No</td>
	<td colspan=2></td>
</tr>
</table>
