{% extends 'reactions.html' %}

{% block additional_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/reactionForm.css" />
{% endblock %}

{% block content %}
  <h1>Add Reaction Data</h1>
  <form class="reaction-form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Reaction Details</legend>
      <ol>
        {{ reaction_form.as_ul }}
      </ol>
    <input type="submit" name="save" value="Save" />
    </fieldset>
  </form> 
{% endblock %}
