{% extends 'reactions.html' %}

{% block additional_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/reactionForm.css" />
{% endblock %}

{% block content %}
  <h1>Edit Reaction Data</h1>
  {% if messages %}
    <ol class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ol>
  {% endif %}
  <form class="reaction-form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Reaction Details</legend>
      <ol>
        {{ reaction_form.as_ul }}
      </ol>
    <input type="submit" value="Save" />
    </fieldset>
  </form>
  <form action="{% url 'addCompoundDetails' reaction.id %}" method="post">
    {% csrf_token %}
    <fieldset>
    <legend>Reactant Details</legend>
    <ol>
        {% for reactant_form in reactants_formset %}
	  <li><ol> {{ reactant_form.as_ul }} </ol></li>
        {% endfor %}
    </ol>
    {{ reactants_formset.management_form.as_ul }}
    <input type="submit" value="Save" />
   </fieldset>
  </form>
  {% for label, formset in descriptor_formsets.items %}
    <form action="{% url formset.url reaction.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{{ label }}</legend>
        <ol>
            {% for form in formset.formset %}
	        <li><ol> {{form.as_ul }} </ol></li>
            {% endfor %}
        </ol>
        {{formset.formset.management_form.as_ul }}
    <input type="submit" value="Save" />
    </fieldset>
    </form>
  {% endfor %} 
{% endblock %}
