
  <form action="{% url 'addCompoundDetails' reaction.id %}{% if request.GET|length > 0 %}?{{request.GET.urlencode}}{% endif %}" method="post">
    {% csrf_token %}
    <fieldset>
    <legend>Reactant Details</legend>
    <ol class="reactants_list">
        {% for reactant_form in reactants_formset %}
	  <li><ol class="reactant_list"> {{ reactant_form.as_ul }} </ol></li>
        {% endfor %}
    </ol>
    {{ reactants_formset.management_form.as_ul }}
    <input type="submit" value="Save" />
   </fieldset>
  </form>
