{% load performed_rxn_delete_form %}
{% load performed_rxn_invalidate_form %}

{% for reaction in reactions %}
  <li class="reaction" {% if reaction.valid %} style="border: 5px solid #376737" {% else %} style="border: 5px solid #8b2c27" {% endif %}>
    <table>
        <tbody>
            <tr>
                <th>Reference</th>
                <td>{{ reaction.reference }}</td>
                {% if user.is_authenticated %}
                    {% if reaction.labGroup in user.labgroup_set.all %}
    	                <td><a class="button" href="{% url 'editReaction' reaction.pk %}">edit</a></td>
	                    {% if not reaction.datasetrelation_set.exists %}
                            <td class="delete">
                                <form action="{% url 'deleteReaction' %}" method="post">
                                    {% csrf_token %}
                                    {% performed_rxn_delete_form reaction %}
                                    <input type="Submit" value="delete" />
                                </form>
                            </td>
                        {% endif %}
                        <td class="invalidate">
                            <form action="{% url 'invalidateReaction' %}" method="post">
                                {% csrf_token %}
                                {% performed_rxn_invalidate_form reaction %}
                                <input type="Submit" value="invalidate" />
                            </form>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr class="quantities">
                <th>Quantities</th>
                <td>
                    <table>
                        <thead><th>Compound Role</th><th>Compound</th><th>Quantity</th></thead>
                        <tbody>
                            {% for quantity in reaction.compoundquantity_set.all %}
                            <tr>
                                <td>{{ quantity.role.label }}</td>
                                <td>{{ quantity.compound.name }}</td>
                                <td>{{ quantity.amount }} mmoles</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="flright">
                <th>Entered by</th><td>{{ reaction.user.first_name }} {{ reaction.user.last_name }}</td>
            </tr>
            <tr class="flright"><th>Inserted Date</th><td>{{ reaction.insertedDateTime }}</td></tr>
            {% if reaction.performedBy != None %}
            <tr class="flright">
                <th>Performed by</th><td>{{ reaction.performedBy.first_name }} {{ reaction.performedBy.last_name }}</td>
            </tr>
            {% endif %}
            {% if reaction.performedDateTime != None %}
            <tr class="flright">
                <th>Performed Date</th><td>{{ reaction.performedDateTime }}</td>
            </tr>
            {% endif %}
            {% if reaction.notes != "" %}
            <tr class="notes">
                <th>Notes</th><td>{{ reaction.notes }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
  </li>
{% endfor %}
