{% extends 'reactions.html' %}

{% block content %}
  <h1>Add Reaction Data</h1>
  <form action="{% url 'newReaction' %}" method="post">
    <ol>
      {{ reaction_form.as_ul }}
    </ol>
    {{ reactants_formset.management_form }}
    <ol>
      {% for reactant_form in reactants_formset %}
      <li><ol>
        {{ reactant_form.as_ul }}
      </ol></li>
      {% endfor %}
    </ol>
    <input type="submit" name="add_reactant" value="Add Another" />
    {% for formset in descriptor_formsets %}
    <ol>
      {% for form in formset %}
      <li><ol>
        {{ form.as_ul }}
      </ol></li>
      {% endfor %}
    </ol>
    <input type="submit" name="add_{{ formset.prefix }}_descriptor" value="Add Another" />
    {% endfor %}
    <input type="submit" name="save" value="Save" />
  </form> 
{% endblock %}
