{% extends 'reactions.html' %}

{% block additional_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reactionForm.css" />
{% endblock %}

{% block content %}
  <h1>Edit Reaction Data</h1>
  {% include "reaction_form.html" %}
  {% include "reactant_form.html" %}
{% spaceless %}
  {% for label, formset in descriptor_formsets.items %}
    
    <form class="descvalform" action="{% url formset.url reaction.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{{ label }}</legend>
        <ol>
            {% for form in formset.formset %}
	        <li><ol class="descvallist"> {{form.as_ul }} </ol></li>
            {% endfor %}
        </ol>
        {{formset.formset.management_form.as_ul }}
    <input type="submit" value="Save" />
    </fieldset>
    </form>
  {% endfor %} 
{% endspaceless %}
{% endblock %}
