<div id="recContainer"> 
{% if fatal_message %}

 <p>{{ fatal_message }}</p>

{% else %}

{% for entry in recommendations %}
<div class="dataGroup dataGroup_shape genericContainer_inner recommendation{% if entry.nonsense %} badRecommendation{% endif %}{% if entry.saved %} savedRecommendation{% endif %}
" pid="{{entry.id}}">

<div class="dataIndex">{{ forloop.counter }}</div>
<div class="dataSpecificButtonContainer"></div>
<div class="dataEntry">

<!-- Reaction -->
<div class="reactantField" group="1">
<span class="dataField type_reactant editable" editAs="text">{{entry.reactant_1}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity editable" editAs="text">{{entry.quantity_1}}</span>
<span class="dataField type.unit editable" editAs="select">{{entry.unit_1}}</span>
<span class="dataDecorator">)</span>
</div>
<span class="dataDecorator">+</span>
<div class="reactantField" group="2">
<span class="dataField type_reactant editable" editAs="text">{{entry.reactant_2}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity editable" editAs="text">{{entry.quantity_2}}</span>
<span class="dataField type_unit editable" editAs="select">{{entry.unit_2}}</span>
<span class="dataDecorator">)</span>
</div>
<span class="dataDecorator">+</span>
<div class="reactantField" group="3">
<span class="dataField type_reactant editable" editAs="text">{{entry.reactant_3}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity editable" editAs="text">{{entry.quantity_3}}</span>
<span class="dataField type_unit editable" editAs="select">{{entry.unit_3}}</span>
<span class="dataDecorator">)</span>
</div>
<span class="dataDecorator">+</span>
<div class="reactantField" group="4">
<span class="dataField type_reactant editable" editAs="text">{{entry.reactant_4}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity editable" editAs="text">{{entry.quantity_4}}</span>
<span class="dataField type_unit editable" editAs="select">{{entry.unit_4}}</span>
<span class="dataDecorator">)</span>
</div>
<span class="dataDecorator">+</span>
<div class="reactantField" group="5">
<span class="dataField type_reactant editable" editAs="text">{{entry.reactant_5}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity editable" editAs="text">{{entry.quantity_5}}</span>
<span class="dataField type_unit editable" editAs="select">{{entry.unit_5}}</span>
<span class="dataDecorator">)</span>
</div>
<br/>
 <!-- Variables -->
<span class="dataField type_temp" editAs="text">{{entry.temp}}</span>
<span class="dataField type_time" editAs="text">{{entry.time}}</span>
<span class="dataField type_pH" editAs="text">{{entry.pH}}</span>
<span class="dataField type_purity" editAs="select">{{entry.purity}}</span>
<span class="dataField type_outcome" editAs="select">{{entry.outcome}}</span>
<span class="dataField type_slow_cool" editAs="select">{{entry.slow_cool}}</span>
<span class="dataField type_leak" editAs="select">{{entry.leak}}</span>
<br/>
<span class="dataField type_notes" editAs="text">{{entry.notes}}</span>
{% if entry.user %}
<span class="type_user opaqueDatum">{{entry.user}}</span>
{% endif %}
</div>
</div>
{% endfor %}

{% endif %}
</div>

