<!--
<div id="searchButton" title="Search for a phrase." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/search.png);"></div>
-->
<div class="dataManipulationButton popupActivator" title="Download recommendations." style="background-image: url({{ STATIC_URL }}icons/download.png);" id="leftMenu_download_recs"></div>
<div id="CG_activatorButton" title="Edit the compound guide." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/compoundGuide.png);"></div>
