<div id="recContainer"> 
{% if fatal_message %}

 <p>{{ fatal_message }}</p>

{% else %}

{% for entry in recommendations %}
<div class="dataGroup dataGroup_shape genericContainer_inner recommendation{% if entry.nonsense %} badRecommendation{% endif %}{% if entry.saved %} savedRecommendation{% endif %}
">

<div class="dataIndex">{{ forloop.counter }}</div>
<div class="dataSpecificButtonContainer"></div>
<div class="dataEntry" pid="{{entry.id}}" score="{{entry.score}}">

<!-- Reaction -->
<span class="dataField type_reactant" group="1" editAs="text">{{entry.reactant_1}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity" group="1" editAs="text">{{entry.quantity_1}}</span>
<span class="dataField type.unit" group="1" editAs="select">{{entry.unit_1}}</span>
<span class="dataDecorator">) +</span>
<span class="dataField type_reactant" group="2" editAs="text">{{entry.reactant_2}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity" group="2" editAs="text">{{entry.quantity_2}}</span>
<span class="dataField type_unit" group="2" editAs="select">{{entry.unit_2}}</span>
<span class="dataDecorator">) +</span>
<span class="dataField type_reactant" group="3" editAs="text">{{entry.reactant_3}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity" group="3" editAs="text">{{entry.quantity_3}}</span>
<span class="dataField type_unit" group="3" editAs="select">{{entry.unit_3}}</span>
<span class="dataDecorator">) +</span>
<span class="dataField type_reactant" group="4" editAs="text">{{entry.reactant_4}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity" group="4" editAs="text">{{entry.quantity_4}}</span>
<span class="dataField type_unit" group="4" editAs="select">{{entry.unit_4}}</span>
<span class="dataDecorator">) +</span>
<span class="dataField type_reactant" group="5" editAs="text">{{entry.reactant_5}}</span>
<span class="dataDecorator">(</span>
<span class="dataField type_quantity" group="5" editAs="text">{{entry.quantity_5}}</span>
<span class="dataField type_unit" group="5" editAs="select">{{entry.unit_5}}</span>
<span class="dataDecorator">)</span>
<br/>
 <!-- Variables -->
<span class="dataField type_temp" editAs="text">{{entry.temp}}</span>
<span class="dataField type_time" editAs="text">{{entry.time}}</span>
<span class="dataField type_pH" editAs="text">{{entry.pH}}</span>
<span class="dataField type_purity" editAs="select">{{entry.purity}}</span>
<span class="dataField type_outcome" editAs="select">{{entry.outcome}}</span>
<span class="dataField type_slow_cool" editAs="select">{{entry.slow_cool}}</span>
<span class="dataField type_leak" editAs="select">{{entry.leak}}</span>
<br/>
<span class="dataField type_notes" editAs="text">{{entry.notes}}</span>
</div>
</div>
{% endfor %}

{% endif %}
</div>
