{# User Registration Form #}

<form action="/user_registration/" method="post" name="registration" id="popupScreenForm">
	{% csrf_token %}
	
	{# Display Form Fields #}
	<p> Create an Account </p>
	
	<table> {# Table allows easy line-up. #}
	{% for field in uform %} {# User Form #}
		<tr><td>
			{{ field.label_tag }}: 
			</td>
			<td>
			{{ field }} <br />
		</td></tr>
	{% endfor %}
	
	{% for field in pform %} {# Profile ("Lab_Member") Form #}
		<tr><td>
			{{ field.label_tag }}: 
			</td>
			<td>
			{{ field }} <br />
		</td></tr>
	{% endfor %}
	</table>		
	<input type="submit" value="Create" name="registration" class="form_button"/> <br />
		
</form>
	
	{# Display Errors ###First Name and Last Name should be req'd #}
	
	{% for field in uform %}
	{% if field.errors %}
		<div class="error">
			<div class="error_label">{{ field.label_tag }}</div>
			{{ field.errors }}
		</div>	
	{% endif %}
	{% endfor %}
	{% for field in pform %}
	{% if field.errors %}
		<div class="error">
			<div class="error_label">{{ field.label_tag }}</div>
			{{ field.errors }}
		</div>	
	{% endif %}
	{% endfor %}
	
