{% extends "base.html" %}

{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/register.css" />
{% endblock %}

{% block login_next %}{% endblock %}

{% block content %}
  <h1 class="bannerText">
    Register
  </h1>
  {% if submitted %}
    <p>Thank you for registering, a confirmation email should be with you shortly. If you are not already a part of a registered lab group, please <a href="contact.html">contact us</a> to create a lab group.</p>
    {% if testing %}
      <!-- 8f7aa6e8-2be5-4630-a205-5fceeea81fe4 -->
    {% endif %}
  {% else %}
    <p>Register below if you would like to add reactions to the database.</p>
    {% if testing %}
    <!-- be088572-3adc-4757-8059-d16db2ea77a6 -->
    {% endif %}
  <form action="{% url 'register' %}" method="post">
  {% csrf_token %}
    <ol>
      {{ form.as_ul }}
    </ol> 
    <input type="submit" value="Register" />
  </form>  
  {% endif %}
  {% if testing %}
  <!-- 4cf1abe0-9118-471c-ac4e-34e863e87402 -->
  {% endif %}
{% endblock %}
