<div class='bannerText'>Search</div>

<form method="post" id="searchForm" class="popupScreenForm infoForm">
  {% csrf_token %}
  <div class="blockElement">
    <select class="dropDownMenu" name="field">
      {% for field in search_fields %}
        <option value="{{field.raw}}">{{field.verbose}}</option>
      {% endfor %}
    </select>

    <select class="dropDownMenu" name="subfield">
      {% for field in search_sub_fields %}
        <option value="{{field.raw}}">{{field.verbose}}</option>
      {% endfor %}
    </select>

    <select class="dropDownMenu" name="match">
      <option value="icontains">contains</option>
      <option value="iexact">is</option>
    </select>

    <input id="searchValue" placeholder='Value' class="autocomplete_reactant" type="text" name="value" value="">

  </div>
  <input type="button" value="Filter" class="search_filterButton"/>
  <input type="button" value="Reset" class="search_resetFiltersButton"/>
</form>

<div id='searchFilters'></div>

<script src='{{STATIC_URL}}js/search.js'></script>

