<h1>Search</h1>
<!-- Periodic Table -->
<div id="tabs">
	<ul id="searchTabContainer">
	<li class="searchTab"><a href="#tabs-1">Atoms</a></li>
	<li class="searchTab"><a href="#tabs-2">Fields</a></li>
	</ul>
	<div id="tabs-1">
		<div id="periodicTableContainer"> {% include "periodic_table.html" %} 
		<form action="/search/" method="post" name="login" id="searchForm_atom" class="popupScreenForm infoForm">
			{% csrf_token %}
			<input id="radio_and" type="radio" name="condition" value="and" checked>
				<label id="label_and" class="genericButton" for="radio_and">And</label>
			</input><br/>
			<input id="radio_or" class="genericButton" type="radio" name="condition" value="or">
				<label id="label_or" class="genericButton" for="radio_or">Or</label>
			</input>
			<input id="search_filterButton_atoms" type="button" value="Filter" class="form_button"/>
			<input id="search_clearButton_atoms" type="button" value="Clear" class="form_button"/>
		</form>
		</div>
	</div>
	<div id="tabs-2">
		<form action="/search/" method="post" name="login" id="searchForm" class="popupScreenForm infoForm">
			{% csrf_token %}
				<div id="radioContainer">
				<label for="field">Field:</label>
				<input id="radio_reactant" type="radio" name="field" value="reactant" checked>
					<label for="radio_reactant" class="radio_label">
						Reactant
					</label>
				</input>
				<input id="radio_unit" type="radio" name="field" value="unit">
					<label for="radio_unit" class="radio_label">
						Unit
					</label>
				</input>
				<input id="radio_quantity" type="radio" name="field" value="quantity">
					<label for="radio_quantity" class="radio_label">
						Quantity
					</label>
				</input>
				<input id="radio_outcome" type="radio" name="field" value="outcome">
					<label for="radio_outcome" class="radio_label">
						Outcome
					</label>
				</input>
				</div>
				
				<br />
				<label for="value">Value:</label>
				<input type="text" name="value" value="">
				<br />
				
				<input id="search_filterButton" type="button" value="Filter" class="form_button"/>
				<input id="search_clearButton" type="button" value="Clear" class="form_button"/>
		</form>
	</div>
</div>

<div id="searchResultsOuterContainer">
	{% include "search_results.html" %}
</div>
