<h1>Search</h1>
<!-- Periodic Table -->
<div id="tabs">
	<ul id="searchTabContainer">
	<li class="searchTab"><a href="#tabs-1">Atoms</a></li>
	<li class="searchTab"><a href="#tabs-2">Fields</a></li>
	</ul>
	<div id="tabs-1">
		<div id="periodicTableContainer"> {% include "periodic_table.html" %}
		<form action="/search/" method="post" name="login" id="searchForm_atom" class="popupScreenForm infoForm">
			{% csrf_token %}
			<input id="radio_and" type="radio" class="radioSearch" name="condition" value="and" checked>
				<label id="label_and" class="genericButton" for="radio_and">And</label>
			</input><br/>
			<input id="radio_or" type="radio" class="radioSearch" name="condition" value="or">
				<label id="label_or" class="genericButton" for="radio_or">Or</label>
			</input>
			<input id="search_filterButton_atoms" type="button" value="Filter" class="form_button"/>
			<input id="search_backButton" type="button" value="Back" class="form_button"/>
			<input id="search_clearButton" type="button" value="Clear" class="form_button"/>
		</form>
		</div>
	</div>
	<div id="tabs-2">
		<form action="/search/" method="post" name="login" id="searchForm" class="popupScreenForm infoForm">
			{% csrf_token %}
				<div class="radioContainer">
				<label for="field">Field:</label>
				<input id="radio_reactant" type="radio" class="radioSearch" name="field" value="reactant" checked>
					<label for="radio_reactant" class="radio_label genericButton">
						Reactant
					</label>
				</input>
				<input id="radio_unit" type="radio" class="radioSearch" name="field" value="unit">
					<label for="radio_unit" class="radio_label genericButton">
						Unit
					</label>
				</input>
				<input id="radio_quantity" type="radio" class="radioSearch" name="field" value="quantity">
					<label for="radio_quantity" class="radio_label genericButton">
						Quantity
					</label>
				</input>
				{% for field in other_fields %}
				{% if forloop.counter0|divisibleby:"6" %}
					</div>
					<div class="radioContainer">
					<input id="radio_{{field.raw}}" type="radio" class="radioSearch" name="field" value="{{field.raw}}">
						<label for="radio_{{field.raw}}" class="radio_label genericButton">
							{{field.verbose}}
						</label>
					</input>
				{% else %}
					<input id="radio_{{field.raw}}" type="radio" class="radioSearch" name="field" value="{{field.raw}}">
						<label for="radio_{{field.raw}}" class="radio_label genericButton">
							{{field.verbose}}
						</label>
					</input>
				{% endif %}
				{% endfor %}
				</div>

				<br />
				<label for="value">Value:</label>
				<input id="searchValue" type="text" name="value" value="">
				<br />

				<input id="search_filterButton" type="button" value="Filter" class="form_button"/>
				<input id="search_backButton" type="button" value="Back" class="form_button"/>
				<input id="search_clearButton" type="button" value="Clear" class="form_button"/>
		</form>
	</div>
</div>

<div id="searchResultsOuterContainer">
	{% include "search_results.html" %}
</div>
