<div class="filterLoader" field="seeded" value="True"></div>
<div class="dataManipulationButton popupActivator" title="Download recommendations." style="background-image: url({{ STATIC_URL }}icons/download.png);" id="leftMenu_download_recs"></div>
<div id="CompoundGuide" title="Edit the compound guide." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/compoundGuide.png);"></div>
<a href="/seed_recommend/?show_hidden=True">
<div title="View hidden recommendations." class="dataManipulationButton" style="background-image: url({{ STATIC_URL }}icons/show.png);"></div>
</a>
<div id="searchButton_seed_recs" title="Search through the recommendations." class="dataManipulationButton popupActivator" style="background-image: url({{ STATIC_URL }}icons/search.png);"></div>
