{% load rank_extras %}


<p>Use this reaction as your reference:</p>
<div class="unrankedReaction seed" order="{{forloop.counter}}">
    {{ unranked_rxn.get_seed|prettify_reaction_list }}
</div>
<p>Place the reactions which are most "similar" to the reference towards the top.</p>
<ul class="sortable" pid="{{unranked_rxn.id}}">
  {% for entry in unranked_rxn.get_shuffled_list %}
    <li class="unrankedReaction sorted" order="{{forloop.counter}}">
    {{forloop.counter}}.) {{ entry|prettify_reaction_list }}
    </li>
  {% endfor %}
</ul>
