<div id="userInfo">
 <div id = "userInfo_inner">
 {% if user.is_authenticated %}
  {% if not user.get_profile.is_licensed %}
  <div class="loadActivator maskBlockFade" id="userLicenseAgreement"></div>
  {% endif %}
  Hello, <div id="userUpdate" class="popupActivator" title="Update Account">{{ user.first_name }}</div>. <br />
  <a id="userLogOut" class="userAuthLink"> (Log Out) </a>
 {% else %}
  Welcome! <br />
  <a id="userLogin" class="userAuthLink popupActivator">Log In</a>
  /
  <a id="registrationPrompt" class="userAuthLink popupActivator">Register</a>
 {% endif %}
 </div>
</div>
