{% if form.errors or profile_form.errors %}
 <div class="subPopup">
  <div class="closeButton">x</div>
   <h1>Errors:</h1>
  {% for field in form %}
  {% if field.errors %}
   <div class="error">
    <div class="error_label">{{ field.label_tag }}</div>
    <div class="error_message">{{ field.errors.as_text }}</div>
   </div> 
  {% endif %}
  {% endfor %}
  
  {% for field in profile_form %}
  {% if field.errors %}
   <div class="error">
    <div class="error_label">{{ field.label_tag }}</div>
    <div class="error_message">{{ field.errors.as_text }}</div>
   </div> 
  {% endif %}
  {% endfor %}
 </div>
{% endif %}

<h1> Update Account Info</h1>
<form action="/user_update/" method="post" name="registration" class="popupScreenForm infoForm">
 {% csrf_token %}
 
 {# Display Form Fields #}
 
 <table> {# Table allows easy line-up. #}
 {% for field in form %} {# User Form #}
  <tr><td>
   {{ field.label_tag }} 
   </td>
   <td>
   {{ field }} <br />
  </td></tr>
 {% endfor %}
 
 {% for field in profile_form %} {# Profile ("Lab_Member") Form #}
  <tr><td>
   {{ field.label_tag }} 
   </td>
   <td>
   {{ field }} <br />
  </td></tr>
 {% endfor %}
 </table>  
 <input type="submit" value="Save" name="registration" class="button"/> <br />
  
</form>
