{% if user_form.errors or profile_form.errors %}
	<div class="subPopup">
		<div class="closeButton genericButton">x</div>
		 <h1>Errors:</h1>
		{% for field in user_form %}
		{% if field.errors %}
			<div class="error">
				<div class="error_label">{{ field.label_tag }}</div>
				<div class="error_message">{{ field.errors.as_text }}</div>
			</div>	
		{% endif %}
		{% endfor %}
		
		{% for field in profile_form %}
		{% if field.errors %}
			<div class="error">
				<div class="error_label">{{ field.label_tag }}</div>
				<div class="error_message">{{ field.errors.as_text }}</div>
			</div>	
		{% endif %}
		{% endfor %}
	</div>
{% endif %}

<h1> Create an Account </h1>
<form action="/user_registration/" method="post" name="registration" id="popupScreenForm">
	{% csrf_token %}
	
	{# Display Form Fields #}
	
	<table> {# Table allows easy line-up. #}
	{% for field in user_form %} {# User Form #}
		<tr><td>
			{{ field.label_tag }}: 
			</td>
			<td>
			{{ field }} <br />
		</td></tr>
	{% endfor %}
	
	{% for field in profile_form %} {# Profile ("Lab_Member") Form #}
		<tr><td>
			{{ field.label_tag }}: 
			</td>
			<td>
			{{ field }} <br />
		</td></tr>
	{% endfor %}
	</table>		
	<input type="submit" value="Create" name="registration" class="form_button"/> <br />
		
</form>
